stepfunctions-loader-orchestrator.json
{
  "Comment": "Orchestrates data loaders: symbols → info → earnings/revenue",
  "StartAt": "Stage1-Symbols",
  "States": {
    "Stage1-Symbols": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${ClusterArn}",
        "TaskDefinition": "${StockSymbolsTaskDefArn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["${Subnet1}", "${Subnet2}"],
            "SecurityGroups": ["${SecurityGroup}"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [{
            "Name": "stocksymbols-loader",
            "Command": ["python3", "loadstocksymbols.py"]
          }]
        }
      },
      "Retry": [{
        "ErrorEquals": ["States.TaskFailed"],
        "IntervalSeconds": 30,
        "MaxAttempts": 2,
        "BackoffRate": 2.0
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "NotifyFailure"
      }],
      "Next": "Stage2-LoadInfo"
    },

    "Stage2-LoadInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${ClusterArn}",
        "TaskDefinition": "${LoadInfoTaskDefArn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["${Subnet1}", "${Subnet2}"],
            "SecurityGroups": ["${SecurityGroup}"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [{
            "Name": "loadinfo-loader",
            "Command": ["python3", "loadinfo.py"]
          }]
        }
      },
      "Retry": [{
        "ErrorEquals": ["States.TaskFailed"],
        "IntervalSeconds": 30,
        "MaxAttempts": 2,
        "BackoffRate": 2.0
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "NotifyFailure"
      }],
      "Next": "Stage3-EarningsRevenue"
    },

    "Stage3-EarningsRevenue": {
      "Type": "Parallel",
      "Comment": "Run earnings and revenue loaders in parallel (max 4 concurrent)",
      "Branches": [
        {
          "StartAt": "EarningsEstimate",
          "States": {
            "EarningsEstimate": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${EarningsEstimateTaskDefArn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet1}", "${Subnet2}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [{
                    "Name": "earningsestimate-loader",
                    "Command": ["python3", "loadearningsestimate.py"]
                  }]
                }
              },
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
              "End": true
            }
          }
        },
        {
          "StartAt": "EarningsHistory",
          "States": {
            "EarningsHistory": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${EarningsHistoryTaskDefArn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet1}", "${Subnet2}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [{
                    "Name": "earningshistory-loader",
                    "Command": ["python3", "loadearningshistory.py"]
                  }]
                }
              },
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
              "End": true
            }
          }
        },
        {
          "StartAt": "EarningsMetrics",
          "States": {
            "EarningsMetrics": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${EarningsMetricsTaskDefArn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet1}", "${Subnet2}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [{
                    "Name": "earningsmetrics-loader",
                    "Command": ["python3", "loadearningsmetrics.py"]
                  }]
                }
              },
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
              "End": true
            }
          }
        },
        {
          "StartAt": "RevenueEstimate",
          "States": {
            "RevenueEstimate": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${RevenueEstimateTaskDefArn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet1}", "${Subnet2}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [{
                    "Name": "revenueestimate-loader",
                    "Command": ["python3", "loadrevenueestimate.py"]
                  }]
                }
              },
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
              "End": true
            }
          }
        }
      ],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "NotifyFailure"
      }],
      "Next": "Success"
    },

    "Success": {
      "Type": "Succeed"
    },

    "NotifyFailure": {
      "Type": "Pass",
      "Comment": "TODO: Add SNS notification for failures",
      "Next": "Fail"
    },

    "Fail": {
      "Type": "Fail",
      "Error": "LoaderOrchestrationFailed",
      "Cause": "One or more loader stages failed after retries"
    }
  }
}
