template-loader-tasks.yml
# ============================================================
# Stock Analytics Platform — template-loader-tasks.yml
# Layer:   Loaders (ECS task definitions for data ingestion)
# Stack:   stocks-loaders
# Exports: StocksLoaders-* (task definition ARNs)
# Imports: From stocks-core (ECR repo, VPC), stocks-app (DB endpoint, secrets)
# Deploy:  .github/workflows/deploy-loaders.yml
# ============================================================

AWSTemplateFormatVersion: '2010-09-09'
Description: >
  ECS task definitions for all data loaders (63 loaders).
  Each loader is a Fargate task that can be triggered via aws ecs run-task.
  No services (DesiredCount=0) — loaders triggered manually or by EventBridge rules.

Parameters:
  FREDApiKey:
    Type: String
    NoEcho: true
    Description: "FRED API key for econ-data loader"
  IBKRUsername:
    Type: String
    NoEcho: true
    Description: "Your IBKR username (passed from GitHub Secret)"
  IBKRPassword:
    Type: String
    NoEcho: true
    Description: "Your IBKR password (passed from GitHub Secret)"

  AlpacaApiKeyId:
    Type: String
    NoEcho: true
    Description: "Alpaca paper-trading API key (passed from GitHub secret APCA_API_KEY_ID)"
    Default: ""
  AlpacaApiSecretKey:
    Type: String
    NoEcho: true
    Description: "Alpaca paper-trading API secret (passed from GitHub secret APCA_API_SECRET_KEY)"
    Default: ""
  AlpacaBaseUrl:
    Type: String
    Description: "Alpaca API base URL (paper or live)"
    Default: "https://paper-api.alpaca.markets"
  ECSExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      Policies:
        - PolicyName: AllowCreateCWLogGroups
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/ecs/*"
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/ecs/*"
        - PolicyName: AllowReadDBSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !Sub
                  - '${SecretArn}*'
                  - SecretArn: !ImportValue StocksApp-SecretArn
              - Effect: Allow
                Action: kms:Decrypt
                Resource: '*'
        - PolicyName: AllowS3StagingAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - arn:aws:s3:::stocks-app-data
                  - arn:aws:s3:::stocks-app-data/*

  ECSTaskRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: AllowReadDBSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !Sub
                  - '${SecretArn}*'
                  - SecretArn: !ImportValue StocksApp-SecretArn
              - Effect: Allow
                Action: kms:Decrypt
                Resource: '*'

  ########################################
  # B) CloudWatch Log Groups             #
  ########################################
  StockScoresLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/ecs/stock-scores-loader
      RetentionInDays: 7

  FactormetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/ecs/factormetrics-loader
      RetentionInDays: 7

  MomentumLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/ecs/momentum-loader
      RetentionInDays: 7

  PositioningLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/ecs/positioning-loader
      RetentionInDays: 7

  QualityMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/ecs/quality-metrics-service
      RetentionInDays: 7

  GrowthMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/ecs/growth-metrics-service
      RetentionInDays: 7

  BenchmarksLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/ecs/benchmarks-loader
      RetentionInDays: 7

  StockSymbolsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: stocksymbols-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: stocksymbols-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/stocksymbols-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EconDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: econdata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: econdata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: LOG_GROUP
              Value: /ecs/econdata-loader
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/econdata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: pricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: pricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/pricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: priceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: priceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/priceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: pricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: pricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/pricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceMonthlyService:
  EtfPriceDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: etfpricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: etfpricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/etfpricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EtfPriceWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: etfpriceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: etfpriceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/etfpriceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EtfPriceMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: etfpricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: etfpricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/etfpricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: technicalsdaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsdaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsdaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  CalendarTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: calendar-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: calendar-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/calendar-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsEstimateTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: earningsestimate-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningsestimate-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: LOADER_FILE
              Value: loadearningsestimates.py
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningsestimate-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsHistoryTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: earningshistory-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningshistory-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningshistory-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: earningsmetrics-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningsmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningsmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnalystUpgradeDowngradeTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: analystupgradedowngrade-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: analystupgradedowngrade-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/analystupgradedowngrade-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  RevenueEstimateTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: revenueestimate-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: revenueestimate-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/revenueestimate-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: technicalsweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: technicalsmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SwingTraderTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: swingtrader-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: swingtrader-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: LOADER_FILE
              Value: loadswingscores.py
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/swingtrader-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysell-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysell-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysell-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latestpricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latestpriceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpriceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpriceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latestpricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latesttechnicalsdaily-loader
      Cpu: "256"      # Keep smaller for incremental updates
      Memory: "512"   # Keep smaller for incremental updates
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsdaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: ECS_MEMORY_MB
              Value: "512"
            - Name: MEMORY_THRESHOLD_MB
              Value: "400"
            - Name: ULTRA_LOW_MEMORY
              Value: "true"   # Enable ultra low memory mode for incremental updates
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsdaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latesttechnicalsweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latesttechnicalsmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AaiiDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: aaiidata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: aaiidata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/aaiidata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  FearGreedDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: feargreeddata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: feargreeddata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: LOADER_FILE
              Value: loadfeargreed.py
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/feargreeddata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  NaaaimDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: naaimdata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: naaimdata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: LOADER_FILE
              Value: loadnaaim.py
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/naaimdata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyBalanceSheetTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quarterlybalancesheet-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlybalancesheet-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlybalancesheet-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnnualBalanceSheetTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: annualbalancesheet-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: annualbalancesheet-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/annualbalancesheet-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyIncomeStatementTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quarterlyincomestatement-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlyincomestatement-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlyincomestatement-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnnualIncomeStatementTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: annualincomestatement-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: annualincomestatement-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/annualincomestatement-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quarterlycashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlycashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlycashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnnualCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: annualcashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: annualcashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/annualcashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TTMIncomeStatementTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: ttmincomestatement-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: ttmincomestatement-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/ttmincomestatement-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TTMCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: ttmcashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: ttmcashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/ttmcashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buyselldaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buyselldaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buyselldaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysellweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysellweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysellweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysellmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysellmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysellmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellEtfDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysell_etf_daily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysell_etf_daily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysell_etf_daily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellEtfWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysell_etf_weekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysell_etf_weekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysell_etf_weekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellEtfMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysell_etf_monthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysell_etf_monthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysell_etf_monthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  FactormetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: factormetrics-loader
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: factormetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Cpu: 1024
          Memory: 2048
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/factormetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SentimentTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: sentiment-loader
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: sentiment-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/sentiment-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnalystSentimentTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: analystsentiment-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: analystsentiment-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/analystsentiment-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QualityMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quality-metrics-calculator
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: qualitymetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Cpu: 512
          Memory: 1024
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: NODE_ENV
              Value: production
            - Name: WEBAPP_AWS_REGION
              Value: !Ref AWS::Region
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/qualitymetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QualityMetricsService:
  GrowthMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: growth-metrics-calculator
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: growthmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Cpu: 1024
          Memory: 2048
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: NODE_ENV
              Value: production
            - Name: WEBAPP_AWS_REGION
              Value: !Ref AWS::Region
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/growthmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  GrowthMetricsService:
  ValueMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: value-metrics-calculator
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: value-metrics-calculator
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Cpu: 1024
          Memory: 2048
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: NODE_ENV
              Value: production
            - Name: WEBAPP_AWS_REGION
              Value: !Ref AWS::Region
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/value-metrics-calculator
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  ValueMetricsService:
  StockScoresTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: stock-scores
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
      TaskRoleArn: !GetAtt ECSTaskRole.Arn
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: stockscores-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Cpu: 512
          Memory: 1024
          Essential: true
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /aws/ecs/stock-scores-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
  StockScoresService:
  BenchmarksTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: benchmarks
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
      TaskRoleArn: !GetAtt ECSTaskRole.Arn
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: benchmarks-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /aws/ecs/benchmarks-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
  BenchmarksService:
  LoadDailyCompanyDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: loadcompanyprofile-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: loadcompanyprofile-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/loadcompanyprofile-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LoadFinancialsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: loadfinancials-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: loadfinancials-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/loadfinancials-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LoadHistoricalTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: loadhistorical-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: loadhistorical-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/loadhistorical-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SectorDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: sectordata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: sectordata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_STAGING_BUCKET
              Value: stocks-app-data
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/sectordata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SectorsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: sectors-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: sectors-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/sectors-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PositioningTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: positioning-loader
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: positioning-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Cpu: 512
          Memory: 1024
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/positioning-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  MomentumTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: momentum-loader
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: momentum-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Cpu: 512
          Memory: 1024
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/momentum-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  RiskMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: riskmetrics-loader
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: riskmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/riskmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  FundamentalMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: fundamentalmetrics-loader
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: fundamentalmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: USE_S3_STAGING
              Value: "true"
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/fundamentalmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EventBridgeECSRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-EventBridge-ECS-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeStepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !GetAtt LoaderOrchestrationStateMachine.Arn

  #########################################
  # Step Functions Orchestration          #
  # Well-Architected loader orchestration  #
  # with dependencies & controlled concurrency
  #########################################

  # IAM Role for Step Functions to invoke ECS tasks
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/CloudWatchLogsFullAccess
      Policies:
        - PolicyName: ECSTaskExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecs:RunTask
                  - ecs:StopTask
                  - ecs:DescribeTasks
                Resource:
                  - !Ref StockSymbolsTaskDefinition
                  - !Ref LoadDailyCompanyDataTaskDefinition
                  - !Ref EarningsEstimateTaskDefinition
                  - !Ref EarningsHistoryTaskDefinition
                  - !Ref EarningsMetricsTaskDefinition
                  - !Ref RevenueEstimateTaskDefinition
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource:
                  - !GetAtt ECSExecutionRole.Arn
                  - !GetAtt ECSTaskRole.Arn
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource: '*'

  # Step Functions State Machine
  LoaderOrchestrationStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-loader-orchestrator"
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString:
        Fn::Sub:
          - |
            {
              "Comment": "Orchestrates data loaders: symbols â†’ info â†’ earnings/revenue",
              "StartAt": "Stage1-Symbols",
              "States": {
                "Stage1-Symbols": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::ecs:runTask.sync",
                  "Parameters": {
                    "LaunchType": "FARGATE",
                    "Cluster": "${ClusterArn}",
                    "TaskDefinition": "${StockSymbolsTaskDef}",
                    "NetworkConfiguration": {
                      "AwsvpcConfiguration": {
                        "Subnets": ["${Subnet1}", "${Subnet2}"],
                        "SecurityGroups": ["${SecurityGroup}"],
                        "AssignPublicIp": "ENABLED"
                      }
                    },
                    "Overrides": {
                      "ContainerOverrides": [{
                        "Name": "stocksymbols-loader",
                        "Command": ["python3", "loadstocksymbols.py"]
                      }]
                    }
                  },
                  "Retry": [{
                    "ErrorEquals": ["States.TaskFailed"],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                  }],
                  "Catch": [{
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                  }],
                  "Next": "Stage2-LoadDailyCompanyData"
                },
                "Stage2-LoadDailyCompanyData": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::ecs:runTask.sync",
                  "Parameters": {
                    "LaunchType": "FARGATE",
                    "Cluster": "${ClusterArn}",
                    "TaskDefinition": "${LoadDailyCompanyDataTaskDef}",
                    "NetworkConfiguration": {
                      "AwsvpcConfiguration": {
                        "Subnets": ["${Subnet1}", "${Subnet2}"],
                        "SecurityGroups": ["${SecurityGroup}"],
                        "AssignPublicIp": "ENABLED"
                      }
                    },
                    "Overrides": {
                      "ContainerOverrides": [{
                        "Name": "companyprofile-loader",
                        "Command": ["python3", "companyprofile.py"]
                      }]
                    }
                  },
                  "Retry": [{
                    "ErrorEquals": ["States.TaskFailed"],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                  }],
                  "Catch": [{
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                  }],
                  "Next": "Stage3-EarningsRevenue"
                },
                "Stage3-EarningsRevenue": {
                  "Type": "Parallel",
                  "Comment": "Run earnings and revenue loaders in parallel (max 4 concurrent)",
                  "Branches": [
                    {
                      "StartAt": "EarningsEstimate",
                      "States": {
                        "EarningsEstimate": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${EarningsEstimateTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "earningsestimate-loader",
                                "Command": ["python3", "loadearningsestimate.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "EarningsHistory",
                      "States": {
                        "EarningsHistory": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${EarningsHistoryTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "earningshistory-loader",
                                "Command": ["python3", "loadearningshistory.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "EarningsMetrics",
                      "States": {
                        "EarningsMetrics": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${EarningsMetricsTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "earningsmetrics-loader",
                                "Command": ["python3", "loadearningsmetrics.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "RevenueEstimate",
                      "States": {
                        "RevenueEstimate": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${RevenueEstimateTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "revenueestimate-loader",
                                "Command": ["python3", "loadrevenueestimate.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    }
                  ],
                  "Catch": [{
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                  }],
                  "Next": "Success"
                },
                "Success": {
                  "Type": "Succeed"
                },
                "NotifyFailure": {
                  "Type": "Pass",
                  "Comment": "TODO: Add SNS notification for failures",
                  "Next": "Fail"
                },
                "Fail": {
                  "Type": "Fail",
                  "Error": "LoaderOrchestrationFailed",
                  "Cause": "One or more loader stages failed after retries"
                }
              }
            }
          - ClusterArn: !ImportValue StocksApp-ClusterArn
            Subnet1: !ImportValue StocksCore-PublicSubnet1Id
            Subnet2: !ImportValue StocksCore-PublicSubnet2Id
            SecurityGroup: !ImportValue StocksApp-EcsTasksSecurityGroupId
            StockSymbolsTaskDef: !Ref StockSymbolsTaskDefinition
            LoadDailyCompanyDataTaskDef: !Ref LoadDailyCompanyDataTaskDefinition
            EarningsEstimateTaskDef: !Ref EarningsEstimateTaskDefinition
            EarningsHistoryTaskDef: !Ref EarningsHistoryTaskDefinition
            EarningsMetricsTaskDef: !Ref EarningsMetricsTaskDefinition
            RevenueEstimateTaskDef: !Ref RevenueEstimateTaskDefinition

  ########################################
  # Algo Loaders + Orchestrator          #
  ########################################
  TrendTemplateTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: trend-template-loader
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: trend-template-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Command:
            - load_trend_template_data.py
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/trend-template-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  MarketHealthTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: market-health-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: market-health-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Command:
            - load_market_health_daily.py
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/market-health-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AlgoMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: algo-metrics-loader
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: algo-metrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Command:
            - load_algo_metrics_daily.py
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/algo-metrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AlgoOrchestratorTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: algo-orchestrator
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: algo-orchestrator
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, :latest]]
          Essential: true
          Command:
            - algo_orchestrator.py
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
          # Alpaca creds pulled from AWS Secrets Manager at task start (best practice)
          Secrets:
            - Name: APCA_API_KEY_ID
              ValueFrom: !Join ["", [!ImportValue StocksApp-AlgoSecretsSecretArn, ":APCA_API_KEY_ID::"]]
            - Name: APCA_API_SECRET_KEY
              ValueFrom: !Join ["", [!ImportValue StocksApp-AlgoSecretsSecretArn, ":APCA_API_SECRET_KEY::"]]
            - Name: APCA_API_BASE_URL
              ValueFrom: !Join ["", [!ImportValue StocksApp-AlgoSecretsSecretArn, ":APCA_API_BASE_URL::"]]
            - Name: ALPACA_PAPER_TRADING
              ValueFrom: !Join ["", [!ImportValue StocksApp-AlgoSecretsSecretArn, ":ALPACA_PAPER_TRADING::"]]
          Secrets:
            - Name: DB_USER
              ValueFrom: !Sub
                - '${SecretArn}:username::'
                - SecretArn: !ImportValue StocksApp-SecretArn
            - Name: DB_PASSWORD
              ValueFrom: !Sub
                - '${SecretArn}:password::'
                - SecretArn: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/algo-orchestrator
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LoaderOrchestrationScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-loader-orchestration-test"
      Description: "Trigger loader orchestration - TEST at 20:41 UTC (one-time test)"
      ScheduleExpression: "cron(41 20 ? * * *)"
      State: ENABLED
      Targets:
        - Arn: !GetAtt LoaderOrchestrationStateMachine.Arn
          Id: "LoaderStateMachineTarget"
          RoleArn: !GetAtt EventBridgeECSRole.Arn

  #########################################
  # EventBridge â†’ ECS RunTask role         #
  # Lets EventBridge invoke ECS tasks     #
  # directly (without Step Functions)     #
  #########################################
  EventBridgeRunTaskRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-EventBridge-RunTask-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RunECSTask
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecs:RunTask
                Resource: "*"
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource:
                  - !GetAtt ECSExecutionRole.Arn

  #########################################
  # Algo orchestrator daily schedule       #
  # Runs at 13:35 UTC = 9:35 ET (EDT)     #
  # i.e. 5 minutes after market open      #
  #########################################
  AlgoOrchestratorScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-algo-orchestrator-daily"
      Description: "Trigger algo orchestrator daily at 13:35 UTC (9:35 ET market open + 5min)"
      ScheduleExpression: "cron(35 13 ? * MON-FRI *)"
      State: ENABLED
      Targets:
        - Arn: !ImportValue StocksApp-ClusterArn
          Id: "AlgoOrchestratorTarget"
          RoleArn: !GetAtt EventBridgeRunTaskRole.Arn
          EcsParameters:
            TaskDefinitionArn: !Ref AlgoOrchestratorTaskDefinition
            LaunchType: FARGATE
            NetworkConfiguration:
              AwsVpcConfiguration:
                Subnets:
                  - !ImportValue StocksCore-PublicSubnet1Id
                  - !ImportValue StocksCore-PublicSubnet2Id
                SecurityGroups:
                  - !ImportValue StocksApp-EcsTasksSecurityGroupId
                AssignPublicIp: ENABLED
            TaskCount: 1

  # Pre-market sync: refresh Alpaca positions 5min before open
  AlpacaPortfolioPreMarketScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-alpaca-portfolio-premarket"
      Description: "Sync Alpaca positions at 13:25 UTC (9:25 ET, 5min pre-open)"
      ScheduleExpression: "cron(25 13 ? * MON-FRI *)"
      State: ENABLED
      Targets:
        - Arn: !ImportValue StocksApp-ClusterArn
          Id: "AlpacaPortfolioTarget"
          RoleArn: !GetAtt EventBridgeRunTaskRole.Arn
          EcsParameters:
            TaskDefinitionArn: !Ref AlgoOrchestratorTaskDefinition
            LaunchType: FARGATE
            NetworkConfiguration:
              AwsVpcConfiguration:
                Subnets:
                  - !ImportValue StocksCore-PublicSubnet1Id
                  - !ImportValue StocksCore-PublicSubnet2Id
                SecurityGroups:
                  - !ImportValue StocksApp-EcsTasksSecurityGroupId
                AssignPublicIp: ENABLED
            TaskCount: 1
          Input: |
            {
              "containerOverrides": [{
                "name": "algo-orchestrator",
                "command": ["loadalpacaportfolio.py"]
              }]
            }

  # Post-EOD: trend template loader (after price_daily refreshes overnight)
  TrendTemplateScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-trend-template-eod"
      Description: "Run trend-template loader nightly at 03:00 UTC after price refresh"
      ScheduleExpression: "cron(0 3 ? * TUE-SAT *)"
      State: ENABLED
      Targets:
        - Arn: !ImportValue StocksApp-ClusterArn
          Id: "TrendTemplateTarget"
          RoleArn: !GetAtt EventBridgeRunTaskRole.Arn
          EcsParameters:
            TaskDefinitionArn: !Ref TrendTemplateTaskDefinition
            LaunchType: FARGATE
            NetworkConfiguration:
              AwsVpcConfiguration:
                Subnets:
                  - !ImportValue StocksCore-PublicSubnet1Id
                  - !ImportValue StocksCore-PublicSubnet2Id
                SecurityGroups:
                  - !ImportValue StocksApp-EcsTasksSecurityGroupId
                AssignPublicIp: ENABLED
            TaskCount: 1

  # Post-EOD: market health (depends on trend_template)
  MarketHealthScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-market-health-eod"
      Description: "Run market-health loader nightly at 03:30 UTC"
      ScheduleExpression: "cron(30 3 ? * TUE-SAT *)"
      State: ENABLED
      Targets:
        - Arn: !ImportValue StocksApp-ClusterArn
          Id: "MarketHealthTarget"
          RoleArn: !GetAtt EventBridgeRunTaskRole.Arn
          EcsParameters:
            TaskDefinitionArn: !Ref MarketHealthTaskDefinition
            LaunchType: FARGATE
            NetworkConfiguration:
              AwsVpcConfiguration:
                Subnets:
                  - !ImportValue StocksCore-PublicSubnet1Id
                  - !ImportValue StocksCore-PublicSubnet2Id
                SecurityGroups:
                  - !ImportValue StocksApp-EcsTasksSecurityGroupId
                AssignPublicIp: ENABLED
            TaskCount: 1

  # Post-EOD: algo metrics composite (after trend + market health)
  AlgoMetricsScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-algo-metrics-eod"
      Description: "Run algo-metrics composite loader nightly at 04:00 UTC"
      ScheduleExpression: "cron(0 4 ? * TUE-SAT *)"
      State: ENABLED
      Targets:
        - Arn: !ImportValue StocksApp-ClusterArn
          Id: "AlgoMetricsTarget"
          RoleArn: !GetAtt EventBridgeRunTaskRole.Arn
          EcsParameters:
            TaskDefinitionArn: !Ref AlgoMetricsTaskDefinition
            LaunchType: FARGATE
            NetworkConfiguration:
              AwsVpcConfiguration:
                Subnets:
                  - !ImportValue StocksCore-PublicSubnet1Id
                  - !ImportValue StocksCore-PublicSubnet2Id
                SecurityGroups:
                  - !ImportValue StocksApp-EcsTasksSecurityGroupId
                AssignPublicIp: ENABLED
            TaskCount: 1

  #########################################
  # Outputs                               #
  #########################################
Outputs:
  LoaderOrchestrationStateMachineArn:
    Description: ARN of the Step Functions state machine for loader orchestration
    Value: !GetAtt LoaderOrchestrationStateMachine.Arn
    Export:
      Name: StocksLoaders-LoaderOrchestrationStateMachineArn

  StockSymbolsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for stock-symbols loader
    Value: !Ref StockSymbolsTaskDefinition
    Export:
      Name: StocksLoaders-StockSymbolsTaskDefArn

  EconDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for econ-data loader
    Value: !Ref EconDataTaskDefinition
    Export:
      Name: StocksLoaders-EconDataTaskDefArn

  PriceTaskDefArn:
    Description: ARN of the ECS TaskDefinition for pricedaily loader
    Value: !Ref PriceTaskDefinition
    Export:
      Name: StocksLoaders-PriceTaskDefArn

  PriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for priceweekly loader
    Value: !Ref PriceWeeklyTaskDefinition
    Export:
      Name: StocksLoaders-PriceWeeklyTaskDefArn

  PriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for pricemonthly loader
    Value: !Ref PriceMonthlyTaskDefinition
    Export:
      Name: StocksLoaders-PriceMonthlyTaskDefArn

  EtfPriceDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for etfpricedaily loader
    Value: !Ref EtfPriceDailyTaskDefinition
    Export:
      Name: StocksLoaders-EtfPriceDailyTaskDefArn

  EtfPriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for etfpriceweekly loader
    Value: !Ref EtfPriceWeeklyTaskDefinition
    Export:
      Name: StocksLoaders-EtfPriceWeeklyTaskDefArn

  EtfPriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for etfpricemonthly loader
    Value: !Ref EtfPriceMonthlyTaskDefinition
    Export:
      Name: StocksLoaders-EtfPriceMonthlyTaskDefArn

  TechnicalsDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-daily loader
    Value: !Ref TechnicalsDailyTaskDefinition
    Export:
      Name: StocksLoaders-TechnicalsDailyTaskDefArn

  CalendarTaskDefArn:
    Description: ARN of the ECS TaskDefinition for calendar loader
    Value: !Ref CalendarTaskDefinition
    Export:
      Name: StocksLoaders-CalendarTaskDefArn

  EarningsEstimateTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings estimate loader
    Value: !Ref EarningsEstimateTaskDefinition
    Export:
      Name: StocksLoaders-EarningsEstimateTaskDefArn

  TechnicalsWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-weekly loader
    Value: !Ref TechnicalsWeeklyTaskDefinition
    Export:
      Name: StocksLoaders-TechnicalsWeeklyTaskDefArn

  TechnicalsMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-monthly loader
    Value: !Ref TechnicalsMonthlyTaskDefinition
    Export:
      Name: StocksLoaders-TechnicalsMonthlyTaskDefArn

  RevenueEstimateTaskDefinitionArn:
    Description: "ARN of the Revenue Estimate ECS Task Definition"
    Value: !Ref RevenueEstimateTaskDefinition
    Export:
      Name: StocksLoaders-RevenueEstimateTaskDefinitionArn

  RevenueEstimateTaskDefArn:
    Description: ARN of the ECS TaskDefinition for revenueestimate loader
    Value: !Ref RevenueEstimateTaskDefinition
    Export:
      Name: StocksLoaders-RevenueEstimateTaskDefArn

  SwingTraderTaskDefArn:
    Description: ARN of the ECS TaskDefinition for swing-trader loader
    Value: !Ref SwingTraderTaskDefinition
    Export:
      Name: StocksLoaders-SwingTraderTaskDefArn
      
  BuySellTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell loader
    Value: !Ref BuySellTaskDefinition
    Export:
      Name: StocksLoaders-BuySellTaskDefArn

  LatestPriceDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpricedaily loader
    Value: !Ref LatestPriceDailyTaskDefinition
    Export:
      Name: StocksLoaders-LatestPriceDailyTaskDefArn

  LatestPriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpriceweekly loader
    Value: !Ref LatestPriceWeeklyTaskDefinition
    Export:
      Name: StocksLoaders-LatestPriceWeeklyTaskDefArn

  LatestPriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpricemonthly loader
    Value: !Ref LatestPriceMonthlyTaskDefinition
    Export:
      Name: StocksLoaders-LatestPriceMonthlyTaskDefArn

  LatestTechnicalsDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsdaily loader
    Value: !Ref LatestTechnicalsDailyTaskDefinition
    Export:
      Name: StocksLoaders-LatestTechnicalsDailyTaskDefArn

  LatestTechnicalsWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsweekly loader
    Value: !Ref LatestTechnicalsWeeklyTaskDefinition
    Export:
      Name: StocksLoaders-LatestTechnicalsWeeklyTaskDefArn

  LatestTechnicalsMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsmonthly loader
    Value: !Ref LatestTechnicalsMonthlyTaskDefinition
    Export:
      Name: StocksLoaders-LatestTechnicalsMonthlyTaskDefArn

  AaiiDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for AAII sentiment data loader
    Value: !Ref AaiiDataTaskDefinition
    Export:
      Name: StocksLoaders-AaiiDataTaskDefArn

  FearGreedDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for Fear & Greed data loader
    Value: !Ref FearGreedDataTaskDefinition
    Export:
      Name: StocksLoaders-FearGreedDataTaskDefArn

  NaaaimDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for NAAIM data loader
    Value: !Ref NaaaimDataTaskDefinition
    Export:
      Name: StocksLoaders-NaaaimDataTaskDefArn

  EarningsHistoryTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings history loader
    Value: !Ref EarningsHistoryTaskDefinition
    Export:
      Name: StocksLoaders-EarningsHistoryTaskDefArn

  EarningsMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings metrics loader
    Value: !Ref EarningsMetricsTaskDefinition
    Export:
      Name: StocksLoaders-EarningsMetricsTaskDefArn

  AnalystUpgradeDowngradeTaskDefArn:
    Description: ARN of the ECS TaskDefinition for analyst upgrade/downgrade loader
    Value: !Ref AnalystUpgradeDowngradeTaskDefinition
    Export:
      Name: StocksLoaders-AnalystUpgradeDowngradeTaskDefArn

  BuySellDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell daily loader
    Value: !Ref BuySellDailyTaskDefinition
    Export:
      Name: StocksLoaders-BuySellDailyTaskDefArn

  BuySellWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell weekly loader
    Value: !Ref BuySellWeeklyTaskDefinition
    Export:
      Name: StocksLoaders-BuySellWeeklyTaskDefArn

  BuySellMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell monthly loader
    Value: !Ref BuySellMonthlyTaskDefinition
    Export:
      Name: StocksLoaders-BuySellMonthlyTaskDefArn

  BuySellEtfDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell ETF daily loader
    Value: !Ref BuySellEtfDailyTaskDefinition
    Export:
      Name: StocksLoaders-BuySellEtfDailyTaskDefArn

  BuySellEtfWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell ETF weekly loader
    Value: !Ref BuySellEtfWeeklyTaskDefinition
    Export:
      Name: StocksLoaders-BuySellEtfWeeklyTaskDefArn

  BuySellEtfMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell ETF monthly loader
    Value: !Ref BuySellEtfMonthlyTaskDefinition
    Export:
      Name: StocksLoaders-BuySellEtfMonthlyTaskDefArn

  FactormetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for factormetrics loader
    Value: !Ref FactormetricsTaskDefinition
    Export:
      Name: StocksLoaders-FactormetricsTaskDefArn

  SentimentTaskDefArn:
    Description: ARN of the ECS TaskDefinition for sentiment loader
    Value: !Ref SentimentTaskDefinition
    Export:
      Name: StocksLoaders-SentimentTaskDefArn

  AnalystSentimentTaskDefArn:
    Description: ARN of the ECS TaskDefinition for analyst sentiment loader
    Value: !Ref AnalystSentimentTaskDefinition
    Export:
      Name: StocksLoaders-AnalystSentimentTaskDefArn

  AaiiTaskDefArn:
    Description: ARN of the ECS TaskDefinition for AAII sentiment data loader
    Value: !Ref AaiiDataTaskDefinition
    Export:
      Name: StocksLoaders-AaiiTaskDefArn

  FearGreedTaskDefArn:
    Description: ARN of the ECS TaskDefinition for Fear & Greed data loader
    Value: !Ref FearGreedDataTaskDefinition
    Export:
      Name: StocksLoaders-FearGreedTaskDefArn

  NaaimTaskDefArn:
    Description: ARN of the ECS TaskDefinition for NAAIM data loader
    Value: !Ref NaaaimDataTaskDefinition
    Export:
      Name: StocksLoaders-NaaimTaskDefArn  

  QuarterlyBalanceSheetTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly balance sheet loader
    Value: !Ref QuarterlyBalanceSheetTaskDefinition
    Export:
      Name: StocksLoaders-QuarterlyBalanceSheetTaskDefArn

  AnnualBalanceSheetTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual balance sheet loader
    Value: !Ref AnnualBalanceSheetTaskDefinition
    Export:
      Name: StocksLoaders-AnnualBalanceSheetTaskDefArn

  QuarterlyIncomeStatementTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly income statement loader
    Value: !Ref QuarterlyIncomeStatementTaskDefinition
    Export:
      Name: StocksLoaders-QuarterlyIncomeStatementTaskDefArn

  AnnualIncomeStatementTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual income statement loader
    Value: !Ref AnnualIncomeStatementTaskDefinition
    Export:
      Name: StocksLoaders-AnnualIncomeStatementTaskDefArn

  QuarterlyCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly cash flow loader
    Value: !Ref QuarterlyCashFlowTaskDefinition
    Export:
      Name: StocksLoaders-QuarterlyCashFlowTaskDefArn

  AnnualCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual cash flow loader
    Value: !Ref AnnualCashFlowTaskDefinition
    Export:
      Name: StocksLoaders-AnnualCashFlowTaskDefArn

  TTMIncomeStatementTaskDefArn:
    Description: ARN of the ECS TaskDefinition for TTM income statement loader
    Value: !Ref TTMIncomeStatementTaskDefinition
    Export:
      Name: StocksLoaders-TTMIncomeStatementTaskDefArn

  TTMCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for TTM cash flow loader
    Value: !Ref TTMCashFlowTaskDefinition
    Export:
      Name: StocksLoaders-TTMCashFlowTaskDefArn

  QualityMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quality metrics calculator
    Value: !Ref QualityMetricsTaskDefinition
    Export:
      Name: StocksLoaders-QualityMetricsTaskDefArn

  GrowthMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for growth metrics calculator
    Value: !Ref GrowthMetricsTaskDefinition
    Export:
      Name: StocksLoaders-GrowthMetricsTaskDefArn

  ValueMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for value metrics calculator
    Value: !Ref ValueMetricsTaskDefinition
    Export:
      Name: StocksLoaders-ValueMetricsTaskDefArn

  # Additional outputs for GitHub Action compatibility
  INFOTaskDefArn:
    Description: ARN of the ECS TaskDefinition for info loader (GitHub Action compatibility)
    Value: !Ref LoadDailyCompanyDataTaskDefinition
    Export:
      Name: StocksLoaders-INFOTaskDefArn

  TECHNICALSDAILYTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicalsdaily loader (GitHub Action compatibility)
    Value: !Ref TechnicalsDailyTaskDefinition
    Export:
      Name: StocksLoaders-TECHNICALSDAILYTaskDefArn

  StockscoresTaskDefArn:
    Description: ARN of the ECS TaskDefinition for stock scores loader
    Value: !Ref StockScoresTaskDefinition
    Export:
      Name: StocksLoaders-StockscoresTaskDefArn
  BenchmarksTaskDefArn:
    Description: ARN of the ECS TaskDefinition for benchmarks loader
    Value: !Ref BenchmarksTaskDefinition
    Export:
      Name: StocksLoaders-BenchmarksTaskDefArn

  LoadDailyCompanyDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for daily company data loader
    Value: !Ref LoadDailyCompanyDataTaskDefinition
    Export:
      Name: StocksLoaders-LoadDailyCompanyDataTaskDefArn

  LoadFinancialsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for financials loader
    Value: !Ref LoadFinancialsTaskDefinition
    Export:
      Name: StocksLoaders-LoadFinancialsTaskDefArn

  LoadHistoricalTaskDefArn:
    Description: ARN of the ECS TaskDefinition for historical loader
    Value: !Ref LoadHistoricalTaskDefinition
    Export:
      Name: StocksLoaders-LoadHistoricalTaskDefArn

  SectorDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for sector data loader
    Value: !Ref SectorDataTaskDefinition
    Export:
      Name: StocksLoaders-SectorDataTaskDefArn

  SectorsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for sectors loader
    Value: !Ref SectorsTaskDefinition
    Export:
      Name: StocksLoaders-SectorsTaskDefArn

  PositioningTaskDefArn:
    Description: ARN of the ECS TaskDefinition for positioning loader
    Value: !Ref PositioningTaskDefinition
    Export:
      Name: StocksLoaders-PositioningTaskDefArn

  MomentumTaskDefArn:
    Description: ARN of the ECS TaskDefinition for momentum loader
    Value: !Ref MomentumTaskDefinition
    Export:
      Name: StocksLoaders-MomentumTaskDefArn

  RiskmetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for risk metrics loader
    Value: !Ref RiskMetricsTaskDefinition
    Export:
      Name: StocksLoaders-RiskmetricsTaskDefArn

  FundamentalmetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for fundamental metrics loader
    Value: !Ref FundamentalMetricsTaskDefinition
    Export:
      Name: StocksLoaders-FundamentalmetricsTaskDefArn

  TrendTemplateTaskDefArn:
    Description: ARN of the ECS TaskDefinition for trend-template loader
    Value: !Ref TrendTemplateTaskDefinition
    Export:
      Name: StocksLoaders-TrendTemplateTaskDefArn

  MarketHealthTaskDefArn:
    Description: ARN of the ECS TaskDefinition for market-health loader
    Value: !Ref MarketHealthTaskDefinition
    Export:
      Name: StocksLoaders-MarketHealthTaskDefArn

  AlgoMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for algo metrics loader
    Value: !Ref AlgoMetricsTaskDefinition
    Export:
      Name: StocksLoaders-AlgoMetricsTaskDefArn

  AlgoOrchestratorTaskDefArn:
    Description: ARN of the ECS TaskDefinition for algo orchestrator
    Value: !Ref AlgoOrchestratorTaskDefinition
    Export:
      Name: StocksLoaders-AlgoOrchestratorTaskDefArn
# Trigger: 2026-01-29 - Force ECS stack update to use correct RDS endpoint

