template-app-ecs-tasks.yml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  ECS TaskDefinitions, CloudWatch LogGroups, and zero-scale Services
  for stock-symbols, econ-data, monthly-price, findata, pricedaily,
  priceweekly, pricemonthly, TechnicalsDaily, companyprofile, earningsestimate,
  technicalsweekly & technicalsmonthly. Includes buysell_etf_daily and factormetrics loaders (added Dec 27, 2025).
  Deploy trigger: Jan 3, 2026 - Fix stock-scores-loader with momentum_intraweek column and restore TTM loaders

Parameters:
  StockSymbolsImageTag:
    Type: String
    Description: "Tag for stock-symbols loader image"
  EconDataImageTag:
    Type: String
    Description: "Tag for econ-data loader image"
  FindataImageTag:
    Type: String
    Description: "Tag for findata loader image"
  PriceImageTag:
    Type: String
    Description: "Tag for pricedaily loader image"
  PriceWeeklyImageTag:
    Type: String
    Description: "Tag for priceweekly loader image"
  PriceMonthlyImageTag:
    Type: String
    Description: "Tag for pricemonthly loader image"
  EtfPriceDailyImageTag:
    Type: String
    Description: "Tag for etfpricedaily loader image"
  EtfPriceWeeklyImageTag:
    Type: String
    Description: "Tag for etfpriceweekly loader image"
  EtfPriceMonthlyImageTag:
    Type: String
    Description: "Tag for etfpricemonthly loader image"
  TechnicalsDailyImageTag:
    Type: String
    Description: "Tag for TechnicalsDaily loader image"
  LoadDailyCompanyDataImageTag:
    Type: String
    Description: "Tag for companyprofile loader image"
  EarningsEstimateImageTag:
    Type: String
    Description: "Tag for earnings estimate loader image"
  TechnicalsWeeklyImageTag:
    Type: String
    Description: "Tag for technicalsweekly loader image"
  TechnicalsMonthlyImageTag:
    Type: String
    Description: "Tag for technicalsmonthly loader image"
  BuySellImageTag:
    Type: String
    Description: "Tag for buysell loader image"
  BuySellDailyImageTag:
    Type: String
    Description: "Tag for buysell daily loader image"
  BuySellWeeklyImageTag:
    Type: String
    Description: "Tag for buysell weekly loader image"
  BuySellMonthlyImageTag:
    Type: String
    Description: "Tag for buysell monthly loader image"
  SwingTraderImageTag:
    Type: String
    Description: "Tag for swingtrader loader image"
  CalendarImageTag:
    Type: String
    Description: "Tag for calendar loader image"
  LatestPriceDailyImageTag:
    Type: String
    Description: "Tag for latestpricedaily loader image"
  LatestPriceWeeklyImageTag:
    Type: String
    Description: "Tag for latestpriceweekly loader image"
  LatestPriceMonthlyImageTag:
    Type: String
    Description: "Tag for latestpricemonthly loader image"
  LatestTechnicalsDailyImageTag:
    Type: String
    Description: "Tag for latesttechnicalsdaily loader image"
  LatestTechnicalsWeeklyImageTag:
    Type: String
    Description: "Tag for latesttechnicalsweekly loader image"
  LatestTechnicalsMonthlyImageTag:
    Type: String
    Description: "Tag for latesttechnicalsmonthly loader image"  
  RevenueEstimateImageTag:
    Type: String
    Description: "Tag for revenue estimate loader image"
  EarningsHistoryImageTag:
    Type: String
    Description: "Tag for earnings history loader image"
  AaiiImageTag:
    Type: String
    Description: "Tag for AAII sentiment data loader image"
  FearGreedImageTag:
    Type: String
    Description: "Tag for Fear & Greed data loader image"
  NaaimImageTag:
    Type: String
    Description: "Tag for NAAIM data loader image"
  EarningsMetricsImageTag:
    Type: String
    Description: "Tag for earnings metrics loader image"
  AnalystUpgradeDowngradeImageTag:
    Type: String
    Description: "Tag for analyst upgrade/downgrade loader image"
  SectorDataImageTag:
    Type: String
    Description: "Tag for sector data loader image"
  LoadFinancialsImageTag:
    Type: String
    Description: "Tag for financials consolidated loader image"
  LoadHistoricalImageTag:
    Type: String
    Description: "Tag for historical consolidated loader image"

  RDSUsername:
    Type: String
    NoEcho: true
    Description: "RDS database username (passed from GitHub Secret)"
  RDSPassword:
    Type: String
    NoEcho: true
    Description: "RDS database password (passed from GitHub Secret)"
  FREDApiKey:
    Type: String
    NoEcho: true
    Description: "FRED API key for econ-data loader"
  IBKRUsername:
    Type: String
    NoEcho: true
    Description: "Your IBKR username (passed from GitHub Secret)"
  IBKRPassword:
    Type: String
    NoEcho: true
    Description: "Your IBKR password (passed from GitHub Secret)"

  QuarterlyBalanceSheetImageTag:
    Type: String
    Description: "Tag for quarterly balance sheet loader image"
  AnnualBalanceSheetImageTag:
    Type: String
    Description: "Tag for annual balance sheet loader image"
  QuarterlyIncomeStatementImageTag:
    Type: String
    Description: "Tag for quarterly income statement loader image"
  AnnualIncomeStatementImageTag:
    Type: String
    Description: "Tag for annual income statement loader image"
  QuarterlyCashFlowImageTag:
    Type: String
    Description: "Tag for quarterly cash flow loader image"
  AnnualCashFlowImageTag:
    Type: String
    Description: "Tag for annual cash flow loader image"
  TTMIncomeStatementImageTag:
    Type: String
    Description: "Tag for TTM income statement loader image"
  TTMCashFlowImageTag:
    Type: String
    Description: "Tag for TTM cash flow loader image"
  QualityMetricsImageTag:
    Type: String
    Description: "Tag for quality metrics calculator image"
  GrowthMetricsImageTag:
    Type: String
    Description: "Tag for growth metrics calculator image"
  ValueMetricsImageTag:
    Type: String
    Description: "Tag for value metrics calculator image"
  StockScoresImageTag:
    Type: String
    Description: "Tag for stock scores loader image"
  BenchmarksImageTag:
    Type: String
    Description: "Tag for benchmarks loader image"
  SectorsImageTag:
    Type: String
    Description: "Tag for sectors loader image"
  PositioningImageTag:
    Type: String
    Description: "Tag for positioning loader image"
  MomentumImageTag:
    Type: String
    Description: "Tag for momentum loader image"
  RiskMetricsImageTag:
    Type: String
    Description: "Tag for risk metrics loader image"
  FundamentalMetricsImageTag:
    Type: String
    Description: "Tag for fundamental metrics loader image"
  BuySellEtfDailyImageTag:
    Type: String
    Description: "Tag for buysell ETF daily loader image"
  FactormetricsImageTag:
    Type: String
    Description: "Tag for factor metrics loader image"
  DeploymentTimestamp:
    Type: String
    Description: "Deployment timestamp to force stack updates"
    Default: "2025-12-27-default"

Resources:

  ########################################
  # A) ECS Execution Role & Policies     #
  ########################################
  ECSExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      Policies:
        - PolicyName: AllowCreateCWLogGroups
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/ecs/*"
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/ecs/*"
        - PolicyName: AllowReadDBSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !ImportValue StocksApp-SecretArn
              - Effect: Allow
                Action: kms:Decrypt
                Resource: '*'

  ECSTaskRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: AllowReadDBSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !ImportValue StocksApp-SecretArn
              - Effect: Allow
                Action: kms:Decrypt
                Resource: '*'

  ########################################
  # B) CloudWatch Log Groups             #
  ########################################
  StockSymbolsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/stocksymbols-loader
      RetentionInDays: 3

  EconDataLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/econdata-loader
      RetentionInDays: 3

  PriceLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/pricedaily-loader
      RetentionInDays: 3

  WeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/priceweekly-loader
      RetentionInDays: 3

  PriceMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/pricemonthly-loader
      RetentionInDays: 3

  EtfPriceDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/etfpricedaily-loader
      RetentionInDays: 3

  EtfPriceWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/etfpriceweekly-loader
      RetentionInDays: 3

  EtfPriceMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/etfpricemonthly-loader
      RetentionInDays: 3

  TechnicalsDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/technicalsdaily-loader
      RetentionInDays: 3

  LoadDailyCompanyDataLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/companyprofile-loader
      RetentionInDays: 3

  EarningsEstimateLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/earningsestimate-loader
      RetentionInDays: 3

  EarningsMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/earningsmetrics-loader
      RetentionInDays: 3

  TechnicalsWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/technicalsweekly-loader
      RetentionInDays: 3

  TechnicalsMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/technicalsmonthly-loader
      RetentionInDays: 3

  BuySellLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buysell-loader
      RetentionInDays: 3

  BuySellDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buyselldaily-loader
      RetentionInDays: 3

  BuySellWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buysellweekly-loader
      RetentionInDays: 3

  BuySellMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buysellmonthly-loader
      RetentionInDays: 3

  BuySellEtfDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buysell_etf_daily-loader
      RetentionInDays: 3

  FactormetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/factormetrics-loader
      RetentionInDays: 3

  SwingTraderLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/swingtrader-loader
      RetentionInDays: 3

  LatestPriceDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestpricedaily-loader
      RetentionInDays: 3

  LatestPriceWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestpriceweekly-loader
      RetentionInDays: 3

  LatestPriceMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestpricemonthly-loader
      RetentionInDays: 3

  LatestTechnicalsDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latesttechnicalsdaily-loader
      RetentionInDays: 3

  LatestTechnicalsWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latesttechnicalsweekly-loader
      RetentionInDays: 3

  LatestTechnicalsMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latesttechnicalsmonthly-loader
      RetentionInDays: 3

  RevenueEstimateLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/revenueestimate-loader
      RetentionInDays: 3

  AaiiDataLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/aaidata-loader
      RetentionInDays: 3

  FearGreedDataLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/feargreeddata-loader
      RetentionInDays: 3

  NaaaimDataLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/naaimdata-loader
      RetentionInDays: 3

  QuarterlyBalanceSheetLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/quarterlybalancesheet-loader
      RetentionInDays: 3

  AnnualBalanceSheetLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/annualbalancesheet-loader
      RetentionInDays: 3

  QuarterlyIncomeStatementLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/quarterlyincomestatement-loader
      RetentionInDays: 3

  AnnualIncomeStatementLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/annualincomestatement-loader
      RetentionInDays: 3

  QuarterlyCashFlowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/quarterlycashflow-loader
      RetentionInDays: 3

  AnnualCashFlowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/annualcashflow-loader
      RetentionInDays: 3

  TTMIncomeStatementLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/ttmincomestatement-loader
      RetentionInDays: 3

  TTMCashFlowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/ttmcashflow-loader
      RetentionInDays: 3



  ########################################
  # C) stock-symbols loader              #
  ########################################
  StockSymbolsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: stocksymbols-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: stocksymbols-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref StockSymbolsImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/stocksymbols-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  StockSymbolsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: stocksymbols-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref StockSymbolsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # D) econ-data loader                  #
  ########################################
  EconDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: econdata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: econdata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EconDataImageTag]]
          Essential: true
          Environment:
            - Name: LOG_GROUP
              Value: /ecs/econdata-loader
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/econdata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EconDataLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: econdata-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EconDataTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # E) pricedaily loader                 #
  ########################################
  PriceTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: pricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: pricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref PriceImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/pricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: pricedaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref PriceTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # F) priceweekly loader                #
  ########################################
  PriceWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: priceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: priceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref PriceWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/priceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: priceweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref PriceWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # G) pricemonthly loader                #
  ########################################
  PriceMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: pricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: pricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref PriceMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/pricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceMonthlyService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: pricemonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref PriceMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # H) ETF Price Loaders                 #
  ########################################

  # H1) etfpricedaily loader
  EtfPriceDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: etfpricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: etfpricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EtfPriceDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/etfpricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EtfPriceDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: etfpricedaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EtfPriceDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  # H2) etfpriceweekly loader
  EtfPriceWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: etfpriceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: etfpriceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EtfPriceWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/etfpriceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EtfPriceWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: etfpriceweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EtfPriceWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  # H3) etfpricemonthly loader
  EtfPriceMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: etfpricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: etfpricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EtfPriceMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/etfpricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EtfPriceMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: etfpricemonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EtfPriceMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # I) findata loader                    #
  ########################################
  # REMOVED: Duplicate PriceMonthlyTaskDefinition and PriceMonthlyService
  # These are already defined in section E above

  ########################################
  # J) TechnicalsDaily loader             #
  ########################################
  TechnicalsDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: technicalsdaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsdaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TechnicalsDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsdaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: technicalsdaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TechnicalsDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # L) calendar loader                   #
  ########################################
  CalendarTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: calendar-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: calendar-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref CalendarImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/calendar-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  CalendarLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: calendar-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref CalendarTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # M) earnings estimate loader                   #
  ########################################
  EarningsEstimateTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: earningsestimate-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningsestimate-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EarningsEstimateImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningsestimate-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsEstimateLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: earningsestimate-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EarningsEstimateTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED
          
  ########################################
  # Earnings History loader              #
  ########################################
  EarningsHistoryTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: earningshistory-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningshistory-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EarningsHistoryImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningshistory-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsHistoryLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: earningshistory-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EarningsHistoryTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # K) earningsmetrics loader            #
  ########################################
  EarningsMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: earningsmetrics-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningsmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EarningsMetricsImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningsmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsMetricsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: earningsmetrics-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EarningsMetricsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Analyst Upgrade/Downgrade loader    #
  ########################################
  AnalystUpgradeDowngradeTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: analystupgradedowngrade-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: analystupgradedowngrade-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref AnalystUpgradeDowngradeImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/analystupgradedowngrade-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnalystUpgradeDowngradeLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: analystupgradedowngrade-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref AnalystUpgradeDowngradeTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # L) revenueestimate loader           #
  ########################################
  RevenueEstimateTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: revenueestimate-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: revenueestimate-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref RevenueEstimateImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/revenueestimate-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  RevenueEstimateLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: revenueestimate-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref RevenueEstimateTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # M) technicalsweekly loader           #
  ########################################
  TechnicalsWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: technicalsweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TechnicalsWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: technicalsweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TechnicalsWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # N) technicalsmonthly loader          #
  ########################################
  TechnicalsMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: technicalsmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TechnicalsMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: technicalsmonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TechnicalsMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # O) swingtrader loader                #
  ########################################
  SwingTraderTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: swingtrader-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: swingtrader-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref SwingTraderImageTag]]
          Essential: true
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/swingtrader-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SwingTraderLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: swingtrader-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref SwingTraderTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED
  ########################################
  # P) buysell loader                    #
  ########################################
  BuySellTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysell-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysell-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysell-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buysell-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Q) latestpricedaily loader       #
  ########################################
  LatestPriceDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latestpricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestPriceDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestpricedaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestPriceDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # R) latestpriceweekly loader      #
  ########################################
  LatestPriceWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latestpriceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpriceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestPriceWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpriceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestpriceweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestPriceWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # S) latestpricemonthly loader     #
  ########################################
  LatestPriceMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latestpricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestPriceMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestpricemonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestPriceMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # T) latesttechnicalsdaily loader  #
  ########################################
  LatestTechnicalsDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latesttechnicalsdaily-loader
      Cpu: "256"      # Keep smaller for incremental updates
      Memory: "512"   # Keep smaller for incremental updates
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsdaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestTechnicalsDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: ECS_MEMORY_MB
              Value: "512"
            - Name: MEMORY_THRESHOLD_MB
              Value: "400"
            - Name: ULTRA_LOW_MEMORY
              Value: "true"   # Enable ultra low memory mode for incremental updates
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsdaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latesttechnicalsdaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestTechnicalsDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # U) latesttechnicalsweekly loader #
  ########################################
  LatestTechnicalsWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latesttechnicalsweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestTechnicalsWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latesttechnicalsweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestTechnicalsWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # V) latesttechnicalsmonthly loader#
  ########################################
  LatestTechnicalsMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: latesttechnicalsmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestTechnicalsMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latesttechnicalsmonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestTechnicalsMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED


  ########################################
  # AAII Sentiment Data loader           #
  ########################################
  AaiiDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: aaiidata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: aaiidata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref AaiiImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/aaidata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AaiiDataLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: aaiidata-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref AaiiDataTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  FearGreedDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: feargreeddata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: feargreeddata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref FearGreedImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/feargreeddata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  FearGreedDataLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: feargreeddata-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref FearGreedDataTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # NAAIM Data loader                     #
  ########################################
  NaaaimDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: naaimdata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: naaimdata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref NaaimImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/naaimdata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  NaaaimDataLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: naaimdata-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref NaaaimDataTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Quarterly Balance Sheet loader        #
  ########################################
  QuarterlyBalanceSheetTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quarterlybalancesheet-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlybalancesheet-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref QuarterlyBalanceSheetImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlybalancesheet-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyBalanceSheetLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: quarterlybalancesheet-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref QuarterlyBalanceSheetTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Annual Balance Sheet loader           #
  ########################################
  AnnualBalanceSheetTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: annualbalancesheet-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: annualbalancesheet-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref AnnualBalanceSheetImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/annualbalancesheet-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnnualBalanceSheetLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: annualbalancesheet-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref AnnualBalanceSheetTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Quarterly Income Statement loader     #
  ########################################
  QuarterlyIncomeStatementTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quarterlyincomestatement-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlyincomestatement-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref QuarterlyIncomeStatementImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlyincomestatement-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyIncomeStatementLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: quarterlyincomestatement-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref QuarterlyIncomeStatementTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Annual Income Statement loader        #
  ########################################
  AnnualIncomeStatementTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: annualincomestatement-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: annualincomestatement-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref AnnualIncomeStatementImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/annualincomestatement-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnnualIncomeStatementLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: annualincomestatement-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref AnnualIncomeStatementTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Quarterly Cash Flow loader            #
  ########################################
  QuarterlyCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quarterlycashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlycashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref QuarterlyCashFlowImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlycashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyCashFlowLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: quarterlycashflow-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref QuarterlyCashFlowTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Annual Cash Flow loader               #
  ########################################
  AnnualCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: annualcashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: annualcashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref AnnualCashFlowImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/annualcashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  AnnualCashFlowLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: annualcashflow-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref AnnualCashFlowTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # TTM Income Statement loader           #
  ########################################
  TTMIncomeStatementTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: ttmincomestatement-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: ttmincomestatement-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TTMIncomeStatementImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/ttmincomestatement-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TTMIncomeStatementLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: ttmincomestatement-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TTMIncomeStatementTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # TTM Cash Flow loader                  #
  ########################################
  TTMCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: ttmcashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: ttmcashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TTMCashFlowImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/ttmcashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TTMCashFlowLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: ttmcashflow-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TTMCashFlowTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # P1) buysell daily loader             #
  ########################################
  BuySellDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buyselldaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buyselldaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buyselldaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buyselldaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # P2) buysell weekly loader            #
  ########################################
  BuySellWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysellweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysellweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysellweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buysellweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # P3) buysell monthly loader           #
  ########################################
  BuySellMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysellmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysellmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysellmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buysellmonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  BuySellEtfDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: buysell_etf_daily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysell_etf_daily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellEtfDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysell_etf_daily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellEtfDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buysell_etf_daily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellEtfDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  FactormetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: factormetrics-loader
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: factormetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref FactormetricsImageTag]]
          Cpu: 1024
          Memory: 2048
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/factormetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  FactormetricsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: factormetrics-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref FactormetricsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Quality Metrics Calculator           #
  ########################################
  QualityMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: quality-metrics-calculator
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: qualitymetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref QualityMetricsImageTag]]
          Cpu: 512
          Memory: 1024
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: NODE_ENV
              Value: production
            - Name: WEBAPP_AWS_REGION
              Value: !Ref AWS::Region
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/qualitymetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QualityMetricsService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: quality-metrics-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref QualityMetricsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Growth Metrics Calculator            #
  ########################################
  GrowthMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: growth-metrics-calculator
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: growthmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref GrowthMetricsImageTag]]
          Cpu: 1024
          Memory: 2048
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: NODE_ENV
              Value: production
            - Name: WEBAPP_AWS_REGION
              Value: !Ref AWS::Region
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/growthmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  GrowthMetricsService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: growth-metrics-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref GrowthMetricsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Value Metrics Calculator             #
  ########################################
  ValueMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: value-metrics-calculator
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: value-metrics-calculator
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref ValueMetricsImageTag]]
          Cpu: 1024
          Memory: 2048
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: NODE_ENV
              Value: production
            - Name: WEBAPP_AWS_REGION
              Value: !Ref AWS::Region
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/value-metrics-calculator
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  ValueMetricsService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: value-metrics-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref ValueMetricsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Stock Scores Loader                  #
  ########################################
  StockScoresTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: stock-scores
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
      TaskRoleArn: !GetAtt ECSTaskRole.Arn
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: stockscores-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref StockScoresImageTag]]
          Cpu: 512
          Memory: 1024
          Essential: true
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref StockScoresLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn

  StockScoresLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/ecs/stock-scores-loader"
      RetentionInDays: 3

  StockScoresService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: stock-scores-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 1
      TaskDefinition: !Ref StockScoresTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  BenchmarksTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: benchmarks
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
      TaskRoleArn: !GetAtt ECSTaskRole.Arn
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: benchmarks-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BenchmarksImageTag]]
          Essential: true
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref BenchmarksLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn

  BenchmarksLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/ecs/benchmarks-loader"
      RetentionInDays: 3

  # Missing log group resources for task definitions
  AnalystUpgradeDowngradeLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/analystupgradedowngrade-loader
      RetentionInDays: 3

  CalendarLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/calendar-loader
      RetentionInDays: 3

  EarningsHistoryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/earningshistory-loader
      RetentionInDays: 3

  FundamentalMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/fundamentalmetrics-loader
      RetentionInDays: 3

  GrowthMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/growthmetrics-loader
      RetentionInDays: 3

  LoadCompanyProfileLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/loadcompanyprofile-loader
      RetentionInDays: 3

  LoadFinancialsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/loadfinancials-loader
      RetentionInDays: 3

  LoadHistoricalLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/loadhistorical-loader
      RetentionInDays: 3

  MomentumLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/momentum-loader
      RetentionInDays: 3

  PositioningLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/positioning-loader
      RetentionInDays: 3

  QualityMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/qualitymetrics-loader
      RetentionInDays: 3

  RiskMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/riskmetrics-loader
      RetentionInDays: 3

  SectorDataLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/sectordata-loader
      RetentionInDays: 3

  SectorsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/sectors-loader
      RetentionInDays: 3

  ValueMetricsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/value-metrics-calculator
      RetentionInDays: 3

  BenchmarksService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: benchmarks-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BenchmarksTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  #########################################
  # Consolidated Loaders                  #
  #########################################

  LoadDailyCompanyDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: loadcompanyprofile-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: loadcompanyprofile-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LoadDailyCompanyDataImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/loadcompanyprofile-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LoadDailyCompanyDataLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: loadcompanyprofile-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref LoadDailyCompanyDataTaskDefinition
      DesiredCount: 0
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  LoadFinancialsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: loadfinancials-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: loadfinancials-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LoadFinancialsImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/loadfinancials-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LoadFinancialsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: loadfinancials-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref LoadFinancialsTaskDefinition
      DesiredCount: 0
      LaunchType: FARGATE
      TaskDefinition: !Ref LoadFinancialsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  LoadHistoricalTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: loadhistorical-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: loadhistorical-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LoadHistoricalImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/loadhistorical-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LoadHistoricalLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: loadhistorical-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref LoadHistoricalTaskDefinition
      DesiredCount: 0
      LaunchType: FARGATE
      TaskDefinition: !Ref LoadHistoricalTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  SectorDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: sectordata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: sectordata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref SectorDataImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/sectordata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SectorDataLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: sectordata-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref SectorDataTaskDefinition
      DesiredCount: 0
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Sectors Loader                       #
  ########################################
  SectorsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: sectors-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: sectors-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref SectorsImageTag]]
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/sectors-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SectorsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: sectors-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref SectorsTaskDefinition
      DesiredCount: 1
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Positioning Loader                   #
  ########################################
  PositioningTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: positioning-loader
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: positioning-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref PositioningImageTag]]
          Cpu: 512
          Memory: 1024
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/positioning-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PositioningLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: positioning-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref PositioningTaskDefinition
      DesiredCount: 1
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Momentum Loader                      #
  ########################################
  MomentumTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: momentum-loader
      Cpu: "512"
      Memory: "1024"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: momentum-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref MomentumImageTag]]
          Cpu: 512
          Memory: 1024
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/momentum-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  MomentumLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: momentum-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref MomentumTaskDefinition
      DesiredCount: 1
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Risk Metrics Loader                  #
  ########################################
  RiskMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: riskmetrics-loader
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: riskmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref RiskMetricsImageTag]]
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/riskmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  RiskMetricsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: riskmetrics-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref RiskMetricsTaskDefinition
      DesiredCount: 0
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Fundamental Metrics Loader           #
  ########################################
  FundamentalMetricsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: fundamentalmetrics-loader
      Cpu: "1024"
      Memory: "2048"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: fundamentalmetrics-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref FundamentalMetricsImageTag]]
          Essential: true
          Environment:
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !Ref RDSUsername
            - Name: DB_PASSWORD
              Value: !Ref RDSPassword
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/fundamentalmetrics-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  FundamentalMetricsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: fundamentalmetrics-loader
      Cluster: !ImportValue StocksApp-ClusterArn
      TaskDefinition: !Ref FundamentalMetricsTaskDefinition
      DesiredCount: 0
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  #########################################
  # EventBridge IAM Role                  #
  #########################################

  EventBridgeECSRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-EventBridge-ECS-Role"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeStepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !GetAtt LoaderOrchestrationStateMachine.Arn

  #########################################
  # Step Functions Orchestration          #
  # Well-Architected loader orchestration  #
  # with dependencies & controlled concurrency
  #########################################

  # IAM Role for Step Functions to invoke ECS tasks
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/CloudWatchLogsFullAccess
      Policies:
        - PolicyName: ECSTaskExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecs:RunTask
                  - ecs:StopTask
                  - ecs:DescribeTasks
                Resource:
                  - !Ref StockSymbolsTaskDefinition
                  - !Ref LoadDailyCompanyDataTaskDefinition
                  - !Ref EarningsEstimateTaskDefinition
                  - !Ref EarningsHistoryTaskDefinition
                  - !Ref EarningsMetricsTaskDefinition
                  - !Ref RevenueEstimateTaskDefinition
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource:
                  - !GetAtt ECSExecutionRole.Arn
                  - !GetAtt ECSTaskRole.Arn
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource: '*'

  # Step Functions State Machine
  LoaderOrchestrationStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-loader-orchestrator"
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString:
        Fn::Sub:
          - |
            {
              "Comment": "Orchestrates data loaders: symbols  info  earnings/revenue",
              "StartAt": "Stage1-Symbols",
              "States": {
                "Stage1-Symbols": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::ecs:runTask.sync",
                  "Parameters": {
                    "LaunchType": "FARGATE",
                    "Cluster": "${ClusterArn}",
                    "TaskDefinition": "${StockSymbolsTaskDef}",
                    "NetworkConfiguration": {
                      "AwsvpcConfiguration": {
                        "Subnets": ["${Subnet1}", "${Subnet2}"],
                        "SecurityGroups": ["${SecurityGroup}"],
                        "AssignPublicIp": "ENABLED"
                      }
                    },
                    "Overrides": {
                      "ContainerOverrides": [{
                        "Name": "stocksymbols-loader",
                        "Command": ["python3", "loadstocksymbols.py"]
                      }]
                    }
                  },
                  "Retry": [{
                    "ErrorEquals": ["States.TaskFailed"],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                  }],
                  "Catch": [{
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                  }],
                  "Next": "Stage2-LoadDailyCompanyData"
                },
                "Stage2-LoadDailyCompanyData": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::ecs:runTask.sync",
                  "Parameters": {
                    "LaunchType": "FARGATE",
                    "Cluster": "${ClusterArn}",
                    "TaskDefinition": "${LoadDailyCompanyDataTaskDef}",
                    "NetworkConfiguration": {
                      "AwsvpcConfiguration": {
                        "Subnets": ["${Subnet1}", "${Subnet2}"],
                        "SecurityGroups": ["${SecurityGroup}"],
                        "AssignPublicIp": "ENABLED"
                      }
                    },
                    "Overrides": {
                      "ContainerOverrides": [{
                        "Name": "companyprofile-loader",
                        "Command": ["python3", "companyprofile.py"]
                      }]
                    }
                  },
                  "Retry": [{
                    "ErrorEquals": ["States.TaskFailed"],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                  }],
                  "Catch": [{
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                  }],
                  "Next": "Stage3-EarningsRevenue"
                },
                "Stage3-EarningsRevenue": {
                  "Type": "Parallel",
                  "Comment": "Run earnings and revenue loaders in parallel (max 4 concurrent)",
                  "Branches": [
                    {
                      "StartAt": "EarningsEstimate",
                      "States": {
                        "EarningsEstimate": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${EarningsEstimateTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "earningsestimate-loader",
                                "Command": ["python3", "loadearningsestimate.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "EarningsHistory",
                      "States": {
                        "EarningsHistory": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${EarningsHistoryTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "earningshistory-loader",
                                "Command": ["python3", "loadearningshistory.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "EarningsMetrics",
                      "States": {
                        "EarningsMetrics": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${EarningsMetricsTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "earningsmetrics-loader",
                                "Command": ["python3", "loadearningsmetrics.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "RevenueEstimate",
                      "States": {
                        "RevenueEstimate": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::ecs:runTask.sync",
                          "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${ClusterArn}",
                            "TaskDefinition": "${RevenueEstimateTaskDef}",
                            "NetworkConfiguration": {
                              "AwsvpcConfiguration": {
                                "Subnets": ["${Subnet1}", "${Subnet2}"],
                                "SecurityGroups": ["${SecurityGroup}"],
                                "AssignPublicIp": "ENABLED"
                              }
                            },
                            "Overrides": {
                              "ContainerOverrides": [{
                                "Name": "revenueestimate-loader",
                                "Command": ["python3", "loadrevenueestimate.py"]
                              }]
                            }
                          },
                          "Retry": [{"ErrorEquals": ["States.TaskFailed"], "MaxAttempts": 2}],
                          "End": true
                        }
                      }
                    }
                  ],
                  "Catch": [{
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                  }],
                  "Next": "Success"
                },
                "Success": {
                  "Type": "Succeed"
                },
                "NotifyFailure": {
                  "Type": "Pass",
                  "Comment": "TODO: Add SNS notification for failures",
                  "Next": "Fail"
                },
                "Fail": {
                  "Type": "Fail",
                  "Error": "LoaderOrchestrationFailed",
                  "Cause": "One or more loader stages failed after retries"
                }
              }
            }
          - ClusterArn: !ImportValue StocksApp-ClusterArn
            Subnet1: !ImportValue StocksCore-PublicSubnet1Id
            Subnet2: !ImportValue StocksCore-PublicSubnet2Id
            SecurityGroup: !ImportValue StocksApp-EcsTasksSecurityGroupId
            StockSymbolsTaskDef: !Ref StockSymbolsTaskDefinition
            LoadDailyCompanyDataTaskDef: !Ref LoadDailyCompanyDataTaskDefinition
            EarningsEstimateTaskDef: !Ref EarningsEstimateTaskDefinition
            EarningsHistoryTaskDef: !Ref EarningsHistoryTaskDefinition
            EarningsMetricsTaskDef: !Ref EarningsMetricsTaskDefinition
            RevenueEstimateTaskDef: !Ref RevenueEstimateTaskDefinition

  LoaderOrchestrationScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-loader-orchestration-test"
      Description: "Trigger loader orchestration - TEST at 20:41 UTC (one-time test)"
      ScheduleExpression: "cron(41 20 ? * * *)"
      State: ENABLED
      Targets:
        - Arn: !GetAtt LoaderOrchestrationStateMachine.Arn
          Id: "LoaderStateMachineTarget"
          RoleArn: !GetAtt EventBridgeECSRole.Arn

  #########################################
  # Outputs                               #
  #########################################
Outputs:
  LoaderOrchestrationStateMachineArn:
    Description: ARN of the Step Functions state machine for loader orchestration
    Value: !GetAtt LoaderOrchestrationStateMachine.Arn
    Export:
      Name: LoaderOrchestrationStateMachineArn

  StockSymbolsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for stock-symbols loader
    Value: !Ref StockSymbolsTaskDefinition
    Export:
      Name: StockSymbolsTaskDefArn

  EconDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for econ-data loader
    Value: !Ref EconDataTaskDefinition
    Export:
      Name: EconDataTaskDefArn

  PriceTaskDefArn:
    Description: ARN of the ECS TaskDefinition for pricedaily loader
    Value: !Ref PriceTaskDefinition
    Export:
      Name: PriceTaskDefArn

  PriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for priceweekly loader
    Value: !Ref PriceWeeklyTaskDefinition
    Export:
      Name: PriceWeeklyTaskDefArn

  PriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for pricemonthly loader
    Value: !Ref PriceMonthlyTaskDefinition
    Export:
      Name: PriceMonthlyTaskDefArn

  EtfPriceDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for etfpricedaily loader
    Value: !Ref EtfPriceDailyTaskDefinition
    Export:
      Name: EtfPriceDailyTaskDefArn

  EtfPriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for etfpriceweekly loader
    Value: !Ref EtfPriceWeeklyTaskDefinition
    Export:
      Name: EtfPriceWeeklyTaskDefArn

  EtfPriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for etfpricemonthly loader
    Value: !Ref EtfPriceMonthlyTaskDefinition
    Export:
      Name: EtfPriceMonthlyTaskDefArn

  TechnicalsDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-daily loader
    Value: !Ref TechnicalsDailyTaskDefinition
    Export:
      Name: TechnicalsDailyTaskDefArn

  CalendarTaskDefArn:
    Description: ARN of the ECS TaskDefinition for calendar loader
    Value: !Ref CalendarTaskDefinition
    Export:
      Name: CalendarTaskDefArn

  EarningsEstimateTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings estimate loader
    Value: !Ref EarningsEstimateTaskDefinition
    Export:
      Name: EarningsEstimateTaskDefArn

  TechnicalsWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-weekly loader
    Value: !Ref TechnicalsWeeklyTaskDefinition
    Export:
      Name: TechnicalsWeeklyTaskDefArn

  TechnicalsMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-monthly loader
    Value: !Ref TechnicalsMonthlyTaskDefinition
    Export:
      Name: TechnicalsMonthlyTaskDefArn

  RevenueEstimateTaskDefinitionArn:
    Description: "ARN of the Revenue Estimate ECS Task Definition"
    Value: !Ref RevenueEstimateTaskDefinition
    Export:
      Name: RevenueEstimateTaskDefinitionArn

  RevenueEstimateTaskDefArn:
    Description: ARN of the ECS TaskDefinition for revenueestimate loader
    Value: !Ref RevenueEstimateTaskDefinition
    Export:
      Name: RevenueEstimateTaskDefArn

  SwingTraderTaskDefArn:
    Description: ARN of the ECS TaskDefinition for swing-trader loader
    Value: !Ref SwingTraderTaskDefinition
    Export:
      Name: SwingTraderTaskDefArn
      
  BuySellTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell loader
    Value: !Ref BuySellTaskDefinition
    Export:
      Name: BuySellTaskDefArn

  LatestPriceDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpricedaily loader
    Value: !Ref LatestPriceDailyTaskDefinition
    Export:
      Name: LatestPriceDailyTaskDefArn

  LatestPriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpriceweekly loader
    Value: !Ref LatestPriceWeeklyTaskDefinition
    Export:
      Name: LatestPriceWeeklyTaskDefArn

  LatestPriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpricemonthly loader
    Value: !Ref LatestPriceMonthlyTaskDefinition
    Export:
      Name: LatestPriceMonthlyTaskDefArn

  LatestTechnicalsDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsdaily loader
    Value: !Ref LatestTechnicalsDailyTaskDefinition
    Export:
      Name: LatestTechnicalsDailyTaskDefArn

  LatestTechnicalsWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsweekly loader
    Value: !Ref LatestTechnicalsWeeklyTaskDefinition
    Export:
      Name: LatestTechnicalsWeeklyTaskDefArn

  LatestTechnicalsMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsmonthly loader
    Value: !Ref LatestTechnicalsMonthlyTaskDefinition
    Export:
      Name: LatestTechnicalsMonthlyTaskDefArn

  AaiiDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for AAII sentiment data loader
    Value: !Ref AaiiDataTaskDefinition
    Export:
      Name: AaiiDataTaskDefArn

  FearGreedDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for Fear & Greed data loader
    Value: !Ref FearGreedDataTaskDefinition
    Export:
      Name: FearGreedDataTaskDefArn

  NaaaimDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for NAAIM data loader
    Value: !Ref NaaaimDataTaskDefinition
    Export:
      Name: NaaaimDataTaskDefArn

  EarningsHistoryTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings history loader
    Value: !Ref EarningsHistoryTaskDefinition
    Export:
      Name: EarningsHistoryTaskDefArn

  EarningsMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings metrics loader
    Value: !Ref EarningsMetricsTaskDefinition
    Export:
      Name: EarningsMetricsTaskDefArn

  AnalystUpgradeDowngradeTaskDefArn:
    Description: ARN of the ECS TaskDefinition for analyst upgrade/downgrade loader
    Value: !Ref AnalystUpgradeDowngradeTaskDefinition
    Export:
      Name: AnalystUpgradeDowngradeTaskDefArn

  BuySellDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell daily loader
    Value: !Ref BuySellDailyTaskDefinition
    Export:
      Name: BuySellDailyTaskDefArn

  BuySellWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell weekly loader
    Value: !Ref BuySellWeeklyTaskDefinition
    Export:
      Name: BuySellWeeklyTaskDefArn

  BuySellMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell monthly loader
    Value: !Ref BuySellMonthlyTaskDefinition
    Export:
      Name: BuySellMonthlyTaskDefArn

  BuySellEtfDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysell ETF daily loader
    Value: !Ref BuySellEtfDailyTaskDefinition
    Export:
      Name: BuySellEtfDailyTaskDefArn

  FactormetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for factormetrics loader
    Value: !Ref FactormetricsTaskDefinition
    Export:
      Name: FactormetricsTaskDefArn

  AaiiTaskDefArn:
    Description: ARN of the ECS TaskDefinition for AAII sentiment data loader
    Value: !Ref AaiiDataTaskDefinition
    Export:
      Name: AaiiTaskDefArn

  FearGreedTaskDefArn:
    Description: ARN of the ECS TaskDefinition for Fear & Greed data loader
    Value: !Ref FearGreedDataTaskDefinition
    Export:
      Name: FearGreedTaskDefArn

  NaaimTaskDefArn:
    Description: ARN of the ECS TaskDefinition for NAAIM data loader
    Value: !Ref NaaaimDataTaskDefinition
    Export:
      Name: NaaimTaskDefArn  

  QuarterlyBalanceSheetTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly balance sheet loader
    Value: !Ref QuarterlyBalanceSheetTaskDefinition
    Export:
      Name: QuarterlyBalanceSheetTaskDefArn

  AnnualBalanceSheetTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual balance sheet loader
    Value: !Ref AnnualBalanceSheetTaskDefinition
    Export:
      Name: AnnualBalanceSheetTaskDefArn

  QuarterlyIncomeStatementTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly income statement loader
    Value: !Ref QuarterlyIncomeStatementTaskDefinition
    Export:
      Name: QuarterlyIncomeStatementTaskDefArn

  AnnualIncomeStatementTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual income statement loader
    Value: !Ref AnnualIncomeStatementTaskDefinition
    Export:
      Name: AnnualIncomeStatementTaskDefArn

  QuarterlyCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly cash flow loader
    Value: !Ref QuarterlyCashFlowTaskDefinition
    Export:
      Name: QuarterlyCashFlowTaskDefArn

  AnnualCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual cash flow loader
    Value: !Ref AnnualCashFlowTaskDefinition
    Export:
      Name: AnnualCashFlowTaskDefArn

  TTMIncomeStatementTaskDefArn:
    Description: ARN of the ECS TaskDefinition for TTM income statement loader
    Value: !Ref TTMIncomeStatementTaskDefinition
    Export:
      Name: TTMIncomeStatementTaskDefArn

  TTMCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for TTM cash flow loader
    Value: !Ref TTMCashFlowTaskDefinition
    Export:
      Name: TTMCashFlowTaskDefArn

  QualityMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quality metrics calculator
    Value: !Ref QualityMetricsTaskDefinition
    Export:
      Name: QualityMetricsTaskDefArn

  GrowthMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for growth metrics calculator
    Value: !Ref GrowthMetricsTaskDefinition
    Export:
      Name: GrowthMetricsTaskDefArn

  ValueMetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for value metrics calculator
    Value: !Ref ValueMetricsTaskDefinition
    Export:
      Name: ValueMetricsTaskDefArn

  # Additional outputs for GitHub Action compatibility
  INFOTaskDefArn:
    Description: ARN of the ECS TaskDefinition for info loader (GitHub Action compatibility)
    Value: !Ref LoadDailyCompanyDataTaskDefinition
    Export:
      Name: INFOTaskDefArn

  TECHNICALSDAILYTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicalsdaily loader (GitHub Action compatibility)
    Value: !Ref TechnicalsDailyTaskDefinition
    Export:
      Name: TECHNICALSDAILYTaskDefArn

  StockscoresTaskDefArn:
    Description: ARN of the ECS TaskDefinition for stock scores loader
    Value: !Ref StockScoresTaskDefinition
    Export:
      Name: StockscoresTaskDefArn
  BenchmarksTaskDefArn:
    Description: ARN of the ECS TaskDefinition for benchmarks loader
    Value: !Ref BenchmarksTaskDefinition
    Export:
      Name: BenchmarksTaskDefArn

  LoadDailyCompanyDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for daily company data loader
    Value: !Ref LoadDailyCompanyDataTaskDefinition
    Export:
      Name: LoadDailyCompanyDataTaskDefArn

  LoadFinancialsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for financials loader
    Value: !Ref LoadFinancialsTaskDefinition
    Export:
      Name: LoadFinancialsTaskDefArn

  LoadHistoricalTaskDefArn:
    Description: ARN of the ECS TaskDefinition for historical loader
    Value: !Ref LoadHistoricalTaskDefinition
    Export:
      Name: LoadHistoricalTaskDefArn

  SectorDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for sector data loader
    Value: !Ref SectorDataTaskDefinition
    Export:
      Name: SectorDataTaskDefArn

  SectorsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for sectors loader
    Value: !Ref SectorsTaskDefinition
    Export:
      Name: SectorsTaskDefArn

  PositioningTaskDefArn:
    Description: ARN of the ECS TaskDefinition for positioning loader
    Value: !Ref PositioningTaskDefinition
    Export:
      Name: PositioningTaskDefArn

  MomentumTaskDefArn:
    Description: ARN of the ECS TaskDefinition for momentum loader
    Value: !Ref MomentumTaskDefinition
    Export:
      Name: MomentumTaskDefArn

  RiskmetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for risk metrics loader
    Value: !Ref RiskMetricsTaskDefinition
    Export:
      Name: RiskmetricsTaskDefArn

  FundamentalmetricsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for fundamental metrics loader
    Value: !Ref FundamentalMetricsTaskDefinition
    Export:
      Name: FundamentalmetricsTaskDefArn
