template-app-ecs-tasks.yml
AWSTemplateFormatVersion: '2010-09-09' 
Description: >
  ECS TaskDefinitions, CloudWatch LogGroups, and zero-scale Services
  for stock-symbols, econ-data, monthly-price, pricedaily,
  priceweekly, pricemonthly, TechnicalsDaily, loadinfo, earningsestimate,
  technicalsweekly & technicalsmonthly.

Parameters:
  StockSymbolsImageTag:
    Type: String
    Description: "Tag for stock-symbols loader image"
  EconDataImageTag:
    Type: String
    Description: "Tag for econ-data loader image"
  PriceImageTag:  
    Type: String
    Description: "Tag for pricedaily loader image"
  PriceWeeklyImageTag:
    Type: String
    Description: "Tag for priceweekly loader image"
  PriceMonthlyImageTag:
    Type: String
    Description: "Tag for pricemonthly loader image"
  TechnicalsDailyImageTag:
    Type: String
    Description: "Tag for TechnicalsDaily loader image"
  LoadInfoImageTag:
    Type: String
    Description: "Tag for loadinfo loader image"
  EarningsEstimateImageTag:
    Type: String
    Description: "Tag for earnings estimate loader image"
  TechnicalsWeeklyImageTag:
    Type: String
    Description: "Tag for technicalsweekly loader image"
  TechnicalsMonthlyImageTag:
    Type: String
    Description: "Tag for technicalsmonthly loader image"
  BuySellDailyImageTag:
    Type: String
    Description: "Tag for buyselldaily loader image"
  BuySellWeeklyImageTag:
    Type: String
    Description: "Tag for buysellweekly loader image"
  BuySellMonthlyImageTag:
    Type: String
    Description: "Tag for buysellmonthly loader image"
  SwingTraderImageTag:
    Type: String
    Description: "Tag for swingtrader loader image"
  CalendarImageTag:
    Type: String
    Description: "Tag for calendar loader image"
  LatestPriceDailyImageTag:
    Type: String
    Description: "Tag for latestpricedaily loader image"
  LatestPriceWeeklyImageTag:
    Type: String
    Description: "Tag for latestpriceweekly loader image"
  LatestPriceMonthlyImageTag:
    Type: String
    Description: "Tag for latestpricemonthly loader image"
  LatestTechnicalsDailyImageTag:
    Type: String
    Description: "Tag for latesttechnicalsdaily loader image"
  LatestTechnicalsWeeklyImageTag:
    Type: String
    Description: "Tag for latesttechnicalsweekly loader image"  
  LatestTechnicalsMonthlyImageTag:
    Type: String
    Description: "Tag for latesttechnicalsmonthly loader image"
  RevenueEstimateImageTag:
    Type: String
    Description: "Tag for revenue estimate loader image"  
  EarningsHistoryImageTag:
    Type: String
    Description: "Tag for earnings history loader image"
  EpsRevisionsImageTag:
    Type: String
    Description: "Tag for eps revisions loader image"
  EpsTrendImageTag:
    Type: String
    Description: "Tag for eps trend loader image"
  GrowthEstimatesImageTag:
    Type: String
    Description: "Tag for growth estimates loader image"
  QuarterlyIncomeStmtImageTag:
    Type: String
    Description: "Tag for quarterly income statement loader image"
  IncomeStmtImageTag:
    Type: String
    Description: "Tag for annual income statement loader image"
  QuarterlyBalanceSheetImageTag:
    Type: String
    Description: "Tag for quarterly balance sheet loader image"
  BalanceSheetImageTag:
    Type: String
    Description: "Tag for annual balance sheet loader image"
  QuarterlyCashFlowImageTag:
    Type: String
    Description: "Tag for quarterly cash flow loader image"
  CashFlowImageTag:
    Type: String
    Description: "Tag for annual cash flow loader image"
  TTMCashFlowImageTag:
    Type: String
    Description: "Tag for TTM cash flow loader image"
  TTMIncomeStmtImageTag:
    Type: String
    Description: "Tag for TTM income statement loader image"
  RecommendationsImageTag:
    Type: String
    Description: "Tag for recommendations loader image"
  StockScreenerImageTag:
    Type: String
    Description: "Tag for stock screener loader image"
  AaiiSentimentImageTag:
    Type: String
    Description: "Tag for AAII sentiment loader image"
  FearGreedImageTag:
    Type: String
    Description: "Tag for Fear & Greed index loader image"
  NaaimImageTag:
    Type: String
    Description: "Tag for NAAIM exposure index loader image"
  LatestBuySellDailyImageTag:
    Type: String
    Description: "Tag for latest buy/sell daily loader image"
    Default: "latest"
  LatestBuySellWeeklyImageTag:
    Type: String
    Description: "Tag for latest buy/sell weekly loader image"  
    Default: "latest"  LatestBuySellMonthlyImageTag:
    Type: String
    Description: "Tag for latest buy/sell monthly loader image"
    Default: "latest"
  AnalystGradeImageTag:
    Type: String
    Description: "Tag for analyst grade loader image"

  FREDApiKey:
    Type: String
    NoEcho: true
    Description: "FRED API key for econ-data loader"
  IBKRUsername:
    Type: String
    NoEcho: true
    Description: "Your IBKR username (passed from GitHub Secret)"
  IBKRPassword:
    Type: String
    NoEcho: true
    Description: "Your IBKR password (passed from GitHub Secret)"

Resources:

  ########################################
  # A) ECS Execution Role & Policies     #
  ########################################
  ECSExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      Policies:
        - PolicyName: AllowCreateCWLogGroups
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/ecs/*"
        - PolicyName: AllowReadDBSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !ImportValue StocksApp-SecretArn
              - Effect: Allow
                Action: kms:Decrypt
                Resource: '*'
        - PolicyName: AllowReadSwingTraderSecrets
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource:
                  - !Ref IBKRUsernameSecret
                  - !Ref IBKRPasswordSecret

  ########################################
  # B) CloudWatch Log Groups             #
  ########################################
  StockSymbolsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/stocksymbols-loader
      RetentionInDays: 14

  EconDataLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/econdata-loader
      RetentionInDays: 14

  PriceLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/pricedaily-loader
      RetentionInDays: 14

  WeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/priceweekly-loader
      RetentionInDays: 14

  PriceMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/pricemonthly-loader
      RetentionInDays: 14

  TechnicalsDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/technicalsdaily-loader
      RetentionInDays: 14

  LoadInfoLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/loadinfo-loader
      RetentionInDays: 14

  EarningsEstimateLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/earningsestimate-loader
      RetentionInDays: 14

  TechnicalsWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/technicalsweekly-loader
      RetentionInDays: 14

  TechnicalsMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/technicalsmonthly-loader
      RetentionInDays: 14

  BuySellDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buyselldaily-loader
      RetentionInDays: 14

  BuySellWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buysellweekly-loader
      RetentionInDays: 14

  BuySellMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/buysellmonthly-loader
      RetentionInDays: 14

  SwingTraderLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/swingtrader-loader
      RetentionInDays: 14

  LatestPriceDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestpricedaily-loader
      RetentionInDays: 14

  LatestPriceWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestpriceweekly-loader
      RetentionInDays: 14

  LatestPriceMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestpricemonthly-loader
      RetentionInDays: 14

  LatestTechnicalsDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latesttechnicalsdaily-loader
      RetentionInDays: 14

  LatestTechnicalsWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latesttechnicalsweekly-loader
      RetentionInDays: 14

  LatestTechnicalsMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latesttechnicalsmonthly-loader
      RetentionInDays: 14
  RevenueEstimateLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/revenueestimate-loader
      RetentionInDays: 14

  EarningsHistoryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/earningshistory-loader
      RetentionInDays: 14

  EpsRevisionsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/epsrevisions-loader
      RetentionInDays: 14

  EpsTrendLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/epstrend-loader
      RetentionInDays: 14

  GrowthEstimatesLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/growthestimates-loader
      RetentionInDays: 14

  QuarterlyIncomeStmtLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/quarterlyincomestmt-loader
      RetentionInDays: 14

  IncomeStmtLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/incomestmt-loader
      RetentionInDays: 14

  QuarterlyBalanceSheetLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/quarterlybalancesheet-loader
      RetentionInDays: 14

  BalanceSheetLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/balancesheet-loader
      RetentionInDays: 14

  QuarterlyCashFlowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/quarterlycashflow-loader
      RetentionInDays: 14
  CashFlowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/cashflow-loader
      RetentionInDays: 14

  TTMCashFlowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/ttmcashflow-loader
      RetentionInDays: 14

  TTMIncomeStmtLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/ttmincomestmt-loader
      RetentionInDays: 14

  RecommendationsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/recommendations-loader
      RetentionInDays: 14

  StockScreenerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/stockscreener-loader
      RetentionInDays: 14

  AaiiSentimentLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/aaiisentiment-loader
      RetentionInDays: 14
      
  FearGreedLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/feargreed-loader
      RetentionInDays: 14
      
  NaaimLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/naaim-loader
      RetentionInDays: 14

  LatestBuySellDailyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestbuyselldaily-loader
      RetentionInDays: 14

  LatestBuySellWeeklyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestbuysellweekly-loader
      RetentionInDays: 14

  LatestBuySellMonthlyLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/latestbuysellmonthly-loader
      RetentionInDays: 14

  ########################################
  # stock-symbols loader              #
  ########################################
  
  StockSymbolsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain    
    Properties:
      Family: stocksymbols-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: stocksymbols-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref StockSymbolsImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/stocksymbols-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  StockSymbolsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: stocksymbols-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref StockSymbolsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # econ-data loader                  #
  ########################################
  EconDataTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: econdata-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: econdata-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EconDataImageTag]]
          Essential: true
          Environment:
            - Name: LOG_GROUP
              Value: /ecs/econdata-loader
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/econdata-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EconDataLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: econdata-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EconDataTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # G) pricedaily loader                 #
  ########################################
  PriceTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: pricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: pricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref PriceImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/pricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: pricedaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref PriceTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # H) priceweekly loader                #
  ########################################
  PriceWeeklyTaskDefinition:
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: priceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: priceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref PriceWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/priceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: priceweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref PriceWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED
  ########################################
  # I) pricemonthly loader               #
  ########################################
  PriceMonthlyTaskDefinition:
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: pricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: pricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref PriceMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/pricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  PriceMonthlyService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: pricemonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref PriceMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # J) TechnicalsDaily loader            #
  ########################################
  TechnicalsDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: technicalsdaily-loader
      Cpu: "4096"
      Memory: "8192"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsdaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TechnicalsDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicals-daily
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: technicalsdaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TechnicalsDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # K) loadinfo loader                   #
  ########################################
  LoadInfoTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: loadinfo-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: loadinfo-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LoadInfoImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/loadinfo-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LoadInfoLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: loadinfo-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LoadInfoTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED



  ########################################
  # L) earnings estimate loader                   #
  ########################################
  EarningsEstimateTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: earningsestimate-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningsestimate-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EarningsEstimateImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningsestimate-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsEstimateLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: earningsestimate-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EarningsEstimateTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED
          
  ########################################
  # Earnings History loader              #
  ########################################
  EarningsHistoryTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: earningshistory-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: earningshistory-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EarningsHistoryImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/earningshistory-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EarningsHistoryLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: earningshistory-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EarningsHistoryTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED
  ########################################
  # L) revenueestimate loader           #
  ########################################  
  RevenueEstimateTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: revenueestimate-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: revenueestimate-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref RevenueEstimateImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/revenueestimate-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'
              
  RevenueEstimateLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: revenueestimate-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref RevenueEstimateTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # EPS Revisions loader                 #
  ########################################
  EpsRevisionsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: epsrevisions-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: epsrevisions-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EpsRevisionsImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/epsrevisions-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EpsRevisionsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: epsrevisions-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EpsRevisionsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # EPS Trend loader                     #
  ########################################
  EpsTrendTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: epstrend-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: epstrend-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref EpsTrendImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/epstrend-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  EpsTrendLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: epstrend-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref EpsTrendTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Growth Estimates loader              #
  ########################################
  GrowthEstimatesTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: growthestimates-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: growthestimates-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref GrowthEstimatesImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/growthestimates-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'
  GrowthEstimatesLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: growthestimates-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref GrowthEstimatesTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Quarterly Income Statement loader    #
  ########################################
  QuarterlyIncomeStmtTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: quarterlyincomestmt-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlyincomestmt-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref QuarterlyIncomeStmtImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlyincomestmt-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyIncomeStmtLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: quarterlyincomestmt-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref QuarterlyIncomeStmtTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Income Statement loader              #
  ########################################
  IncomeStmtTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: incomestmt-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: incomestmt-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref IncomeStmtImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/incomestmt-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'
  IncomeStmtLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: incomestmt-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref IncomeStmtTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Quarterly Balance Sheet loader       #
  ########################################
  QuarterlyBalanceSheetTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: quarterlybalancesheet-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlybalancesheet-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref QuarterlyBalanceSheetImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlybalancesheet-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyBalanceSheetLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: quarterlybalancesheet-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref QuarterlyBalanceSheetTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Balance Sheet loader                 #
  ########################################
  BalanceSheetTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: balancesheet-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: balancesheet-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BalanceSheetImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/balancesheet-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BalanceSheetLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: balancesheet-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BalanceSheetTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Quarterly Cash Flow loader           #
  ########################################
  QuarterlyCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: quarterlycashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: quarterlycashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref QuarterlyCashFlowImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/quarterlycashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  QuarterlyCashFlowLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: quarterlycashflow-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref QuarterlyCashFlowTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Cash Flow loader                     #
  ########################################
  CashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: cashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: cashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref CashFlowImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/cashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  CashFlowLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: cashflow-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref CashFlowTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # M) technicalsweekly loader           #
  ########################################
  TechnicalsWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: technicalsweekly-loader
      Cpu: "2048"
      Memory: "4096"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TechnicalsWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: technicalsweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TechnicalsWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # N) technicalsmonthly loader          #
  ########################################
  TechnicalsMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: technicalsmonthly-loader
      Cpu: "2048"
      Memory: "4096"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: technicalsmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TechnicalsMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/technicalsmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TechnicalsMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: technicalsmonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TechnicalsMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # O) swingtrader loader                #
  ########################################
  IBKRUsernameSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: swingtrader/ibkr-username
      SecretString: !Ref IBKRUsername

  IBKRPasswordSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: swingtrader/ibkr-password
      SecretString: !Ref IBKRPassword

  SwingTraderTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: swingtrader-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: swingtrader-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref SwingTraderImageTag]]
          Essential: true
          Secrets:
            - Name: IBKR_USERNAME
              ValueFrom: !Ref IBKRUsernameSecret

            - Name: IBKR_PASSWORD
              ValueFrom: !Ref IBKRPasswordSecret
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/swingtrader-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  SwingTraderLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: swingtrader-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref SwingTraderTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # P) buyselldaily loader               #
  ########################################
  BuySellDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: buyselldaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buyselldaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buyselldaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buyselldaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Q) buysellweekly loader              #
  ########################################
  BuySellWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: buysellweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysellweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysellweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buysellweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # R) buysellmonthly loader             #
  ########################################
  BuySellMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: buysellmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: buysellmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref BuySellMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/buysellmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  BuySellMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: buysellmonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref BuySellMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Q) latestpricedaily loader       #
  ########################################
  LatestPriceDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latestpricedaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpricedaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestPriceDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpricedaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestpricedaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestPriceDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # R) latestpriceweekly loader      #
  ########################################
  LatestPriceWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latestpriceweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpriceweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestPriceWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpriceweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestpriceweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestPriceWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # S) latestpricemonthly loader     #
  ########################################
  LatestPriceMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latestpricemonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latestpricemonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestPriceMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestpricemonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestPriceMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestpricemonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestPriceMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # T) latesttechnicalsdaily loader  #
  ########################################
  LatestTechnicalsDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latesttechnicalsdaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsdaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestTechnicalsDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsdaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latesttechnicalsdaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestTechnicalsDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # U) latesttechnicalsweekly loader #
  ########################################
  LatestTechnicalsWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latesttechnicalsweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestTechnicalsWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latesttechnicalsweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestTechnicalsWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # V) latesttechnicalsmonthly loader#
  ########################################
  LatestTechnicalsMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latesttechnicalsmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: latesttechnicalsmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestTechnicalsMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latesttechnicalsmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestTechnicalsMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latesttechnicalsmonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestTechnicalsMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # T) ttmcashflow loader                 #
  ########################################
  TTMCashFlowTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: ttmcashflow-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: ttmcashflow-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TTMCashFlowImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/ttmcashflow-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TTMCashFlowLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: ttmcashflow-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TTMCashFlowTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # TTM Income Statement loader          #
  ########################################
  TTMIncomeStmtTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: ttmincomestmt-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: ttmincomestmt-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref TTMIncomeStmtImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/ttmincomestmt-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  TTMIncomeStmtLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: ttmincomestmt-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref TTMIncomeStmtTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Recommendations loader               #
  ########################################
  RecommendationsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: recommendations-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn:      !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: recommendations-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref RecommendationsImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
           
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/recommendations-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  RecommendationsLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: recommendations-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref RecommendationsTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  ########################################
  # Stock Screener loader                #
  ########################################
  StockScreenerTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: stockscreener-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !GetAtt ECSExecutionRole.Arn
      TaskRoleArn: !GetAtt ECSExecutionRole.Arn
      ContainerDefinitions:
        - Name: stockscreener-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref StockScreenerImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/stockscreener-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  StockScreenerLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: stockscreener-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref StockScreenerTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  AaiiSentimentTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: aaiisentiment-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      TaskRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      ContainerDefinitions:
        - Name: aaiisentiment-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref AaiiSentimentImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: "5432"
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref AaiiSentimentLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs

  AaiiSentimentLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: aaiisentiment-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref AaiiSentimentTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  FearGreedTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: feargreed-loader
      Cpu: "512"  # More CPU for browser automation
      Memory: "1024"  # More memory for browser automation
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64        
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      TaskRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      ContainerDefinitions:
        - Name: feargreed-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref FearGreedImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: "5432"
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref FearGreedLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs

  FearGreedLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: feargreed-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref FearGreedTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  NaaimTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: naaim-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      TaskRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      ContainerDefinitions:
        - Name: naaim-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref NaaimImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: "5432"
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref NaaimLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs

  NaaimLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: naaim-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref NaaimTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  LatestBuySellDailyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latestbuyselldaily-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      TaskRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      ContainerDefinitions:
        - Name: latestbuyselldaily-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestBuySellDailyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestbuyselldaily-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestBuySellDailyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestbuyselldaily-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestBuySellDailyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  LatestBuySellWeeklyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latestbuysellweekly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      TaskRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      ContainerDefinitions:
        - Name: latestbuysellweekly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestBuySellWeeklyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestbuysellweekly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestBuySellWeeklyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestbuysellweekly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestBuySellWeeklyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  LatestBuySellMonthlyTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Family: latestbuysellmonthly-loader
      Cpu: "256"
      Memory: "512"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      RuntimePlatform:
        CpuArchitecture: ARM64
        OperatingSystemFamily: LINUX
      ExecutionRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      TaskRoleArn: !ImportValue StocksApp-EcsTaskExecutionRoleArn
      ContainerDefinitions:
        - Name: latestbuysellmonthly-loader
          Image: !Join [":", [!ImportValue StocksCore-ContainerRepositoryUri, !Ref LatestBuySellMonthlyImageTag]]
          Essential: true
          Environment:
            - Name: DB_SECRET_ARN
              Value: !ImportValue StocksApp-SecretArn
            - Name: DB_HOST
              Value: !ImportValue StocksApp-DBEndpoint
            - Name: DB_PORT
              Value: !ImportValue StocksApp-DBPort
            - Name: DB_NAME
              Value: !ImportValue StocksApp-DBName
            - Name: DB_USER
              Value: !ImportValue StocksApp-DBUsername
            - Name: FRED_API_KEY
              Value: !Ref FREDApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: /ecs/latestbuysellmonthly-loader
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
              awslogs-create-group: 'true'

  LatestBuySellMonthlyLoaderService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: latestbuysellmonthly-loader-service
      Cluster: !ImportValue StocksApp-ClusterArn
      LaunchType: FARGATE
      DesiredCount: 0
      TaskDefinition: !Ref LatestBuySellMonthlyTaskDefinition
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - !ImportValue StocksCore-PublicSubnet1Id
            - !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroups:
            - !ImportValue StocksApp-EcsTasksSecurityGroupId
          AssignPublicIp: ENABLED

  #############################################################
  # IAM Role for EventBridge → ECS RunTask#
  #############################################################
  EventsInvokeEcsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-EventsInvokeEcsRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: AllowEcsRunTask
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecs:RunTask
                Resource:
                  - !Sub "arn:aws:ecs:${AWS::Region}:${AWS::AccountId}:task-definition/*"
                  - !ImportValue StocksApp-ClusterArn
  #############################################################
  # IAM Role for Step Functions
  #############################################################
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-StepFunctionsExecutionRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: StepFunctionsECSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 'ecs:RunTask'
                  - 'ecs:StopTask'
                  - 'ecs:DescribeTasks'
                  - 'iam:PassRole'
                Resource: '*'
              - Effect: Allow
                Action:
                  - 'events:PutTargets'
                  - 'events:PutRule'
                  - 'events:DescribeRule'
                Resource: '*'
              - Effect: Allow
                Action:
                  - 'sns:Publish'
                Resource: 
                  - !Sub "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:financial-data-alerts"
                  - !Ref LatestDataNotificationTopic
              - Effect: Allow
                Action:
                  - ecs:RunTask
                  - ecs:StopTask
                  - ecs:DescribeTasks
                Resource:
                  - !Sub "arn:aws:ecs:${AWS::Region}:${AWS::AccountId}:task-definition/*"
                  - !ImportValue StocksApp-ClusterArn
                  - !Sub "arn:aws:ecs:${AWS::Region}:${AWS::AccountId}:task/*/*"
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource:
                  - !ImportValue StocksApp-EcsTaskExecutionRoleArn

  #############################################################
  # SNS Topic for Notifications on Failure
  #############################################################  
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: 'Financial Data Processing Alerts'
      TopicName: 'financial-data-alerts'

  # SMS Subscription for the SNS Topic
  SMSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sms
      TopicArn: !Ref NotificationTopic
      Endpoint: '+13123078620'

  # Email Subscription for the SNS Topic
  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: email
      TopicArn: !Ref NotificationTopic
      Endpoint: 'argeropolos@accenture.com' 

  #############################################################
  # SNS Topic for Notifications
  #############################################################
  LatestDataNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: LatestDataProcessingNotifications
      DisplayName: Latest Data Processing Workflow Notifications
  # SMS Subscription for Latest Data Notifications
  LatestDataSMSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sms
      TopicArn: !Ref LatestDataNotificationTopic
      Endpoint: '+13123078620'

  # Email Subscription for Latest Data Notifications
  LatestDataEmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: email
      TopicArn: !Ref LatestDataNotificationTopic
      Endpoint: 'argeropolos@accenture.com'

  #############################################################
  # Step Functions State Machine
  #############################################################
  FinancialDataStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn: 
      - StepFunctionsExecutionRole
      - NotificationTopic
    Properties:
      StateMachineName: 'FinancialDataProcessingWorkflow'
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub 
        - |
          {
            "Comment": "Financial Data Processing Workflow with Retries",
            "StartAt": "ProcessInitialData",
            "States": {
              "ProcessInitialData": {
                "Type": "Parallel",
                "Branches": [
                  {
                    "StartAt": "RunLoadInfo",
                    "States": {
                      "RunLoadInfo": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::ecs:runTask.sync",
                        "Parameters": {
                          "LaunchType": "FARGATE",
                          "Cluster": "${ClusterArn}",
                          "TaskDefinition": "${LoadInfoTaskDefArn}",
                          "NetworkConfiguration": {
                            "AwsvpcConfiguration": {
                              "Subnets": ["${Subnet1Id}", "${Subnet2Id}"],
                              "SecurityGroups": ["${SecurityGroupId}"],
                              "AssignPublicIp": "ENABLED"
                            }
                          }
                        },
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 60,
                            "MaxAttempts": 2,
                            "BackoffRate": 2
                          }
                        ],
                        "End": true
                      }
                    }
                  },
                  {
                    "StartAt": "RunEpsTrend",
                    "States": {
                      "RunEpsTrend": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::ecs:runTask.sync",
                        "Parameters": {
                          "LaunchType": "FARGATE",
                          "Cluster": "${ClusterArn}",
                          "TaskDefinition": "${EpsTrendTaskDefArn}",
                          "NetworkConfiguration": {
                            "AwsvpcConfiguration": {
                              "Subnets": ["${Subnet1Id}", "${Subnet2Id}"],
                              "SecurityGroups": ["${SecurityGroupId}"],
                              "AssignPublicIp": "ENABLED"
                            }
                          }
                        },
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 60,
                            "MaxAttempts": 2,
                            "BackoffRate": 2
                          }
                        ],
                        "End": true
                      }
                    }
                  }
                ],
                "ResultPath": "$.InitialDataResults",
                "Next": "CheckInitialDataSuccess",
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "NotifyError"
                  }
                ]
              },
              "CheckInitialDataSuccess": {
                "Type": "Choice",
                "Choices": [
                  {
                    "And": [
                      {
                        "Variable": "$.InitialDataResults[0].TaskResult.StopCode",
                        "NumericEquals": 0
                      },
                      {
                        "Variable": "$.InitialDataResults[1].TaskResult.StopCode",
                        "NumericEquals": 0
                      }
                    ],
                    "Next": "RunStockScreener"
                  }
                ],
                "Default": "NotifyError"
              },
              "RunStockScreener": {
                "Type": "Task",
                "Resource": "arn:aws:states:::ecs:runTask.sync",
                "Parameters": {
                  "LaunchType": "FARGATE",
                  "Cluster": "${ClusterArn}",
                  "TaskDefinition": "${StockScreenerTaskDefArn}",
                  "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                      "Subnets": ["${Subnet1Id}", "${Subnet2Id}"],
                      "SecurityGroups": ["${SecurityGroupId}"],
                      "AssignPublicIp": "ENABLED"
                    }
                  }
                },
                "Retry": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 2,
                    "BackoffRate": 2
                  }
                ],
                "Next": "WorkflowSuccess",
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "NotifyError"
                  }
                ]
              },
              "WorkflowSuccess": {
                "Type": "Succeed"
              },
              "NotifyError": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn": "${NotificationTopicArn}",
                  "Message": "Financial data processing workflow failed. Please check CloudWatch logs for details."
              },
                "Next": "WorkflowFailed"
              },
              "WorkflowFailed": {
                "Type": "Fail",
                "Error": "FinancialDataProcessingFailed",
                "Cause": "One or more jobs failed after retry attempts"
              }
            }
          }
        - ClusterArn: !ImportValue StocksApp-ClusterArn
          LoadInfoTaskDefArn: !Ref LoadInfoTaskDefinition
          EpsTrendTaskDefArn: !Ref EpsTrendTaskDefinition
          StockScreenerTaskDefArn: !Ref StockScreenerTaskDefinition
          Subnet1Id: !ImportValue StocksCore-PublicSubnet1Id
          Subnet2Id: !ImportValue StocksCore-PublicSubnet2Id
          SecurityGroupId: !ImportValue StocksApp-EcsTasksSecurityGroupId
          NotificationTopicArn: !Ref NotificationTopic

  #############################################################
  # EventBridge Schedule to Trigger the Step Function
  #############################################################
  FinancialDataProcessingSchedule:
    Type: AWS::Events::Rule
    Properties:
      Description: "Run financial data processing workflow at 5:00 AM CT (10:00 UTC) on weekdays"
      ScheduleExpression: "cron(0 23 ? * MON-FRI *)"
      # This will start at 5:00 AM CT, allowing time for the whole workflow to complete
      State: ENABLED
      Targets:
        - Id: FinancialDataProcessingTarget
          Arn: !Ref FinancialDataStateMachine
          RoleArn: !GetAtt StepFunctionsExecutionRole.Arn

  #########################################
  # Outputs                               #
  #########################################
Outputs:
  StockSymbolsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for stock-symbols loader
    Value: !Ref StockSymbolsTaskDefinition
    Export:
      Name: StockSymbolsTaskDefArn

  EconDataTaskDefArn:
    Description: ARN of the ECS TaskDefinition for econ-data loader
    Value: !Ref EconDataTaskDefinition
    Export:
      Name: EconDataTaskDefArn

  PriceTaskDefArn:
    Description: ARN of the ECS TaskDefinition for pricedaily loader
    Value: !Ref PriceTaskDefinition
    Export:
      Name: PriceTaskDefArn

  PriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for priceweekly loader
    Value: !Ref PriceWeeklyTaskDefinition
    Export:
      Name: PriceWeeklyTaskDefArn

  PriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for pricemonthly loader
    Value: !Ref PriceMonthlyTaskDefinition
    Export:
      Name: PriceMonthlyTaskDefArn

  TechnicalsDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-daily loader
    Value: !Ref TechnicalsDailyTaskDefinition
    Export:
      Name: TechnicalsDailyTaskDefArn

  LoadInfoTaskDefArn:
    Description: ARN of the ECS TaskDefinition for load-info loader
    Value: !Ref LoadInfoTaskDefinition
    Export:
      Name: LoadInfoTaskDefArn

  EarningsEstimateTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings estimate loader
    Value: !Ref EarningsEstimateTaskDefinition
    Export:
      Name: EarningsEstimateTaskDefArn

  TechnicalsWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-weekly loader
    Value: !Ref TechnicalsWeeklyTaskDefinition
    Export:
      Name: TechnicalsWeeklyTaskDefArn

  TechnicalsMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for technicals-monthly loader
    Value: !Ref TechnicalsMonthlyTaskDefinition
    Export:
      Name: TechnicalsMonthlyTaskDefArn
      
  RevenueEstimateTaskDefArn:
    Description: "ARN of the Revenue Estimate ECS Task Definition"
    Value: !Ref RevenueEstimateTaskDefinition
    Export:
      Name: RevenueEstimateTaskDefArn

  SwingTraderTaskDefArn:
    Description: ARN of the ECS TaskDefinition for swing-trader loader
    Value: !Ref SwingTraderTaskDefinition
    Export:
      Name: SwingTraderTaskDefArn
      
  BuySellDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buyselldaily loader
    Value: !Ref BuySellDailyTaskDefinition
    Export:
      Name: BuySellDailyTaskDefArn

  BuySellWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysellweekly loader
    Value: !Ref BuySellWeeklyTaskDefinition
    Export:
      Name: BuySellWeeklyTaskDefArn

  BuySellMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for buysellmonthly loader
    Value: !Ref BuySellMonthlyTaskDefinition
    Export:
      Name: BuySellMonthlyTaskDefArn

  LatestPriceDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpricedaily loader
    Value: !Ref LatestPriceDailyTaskDefinition
    Export:
      Name: LatestPriceDailyTaskDefArn

  LatestPriceWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpriceweekly loader
    Value: !Ref LatestPriceWeeklyTaskDefinition
    Export:
      Name: LatestPriceWeeklyTaskDefArn

  LatestPriceMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latestpricemonthly loader
    Value: !Ref LatestPriceMonthlyTaskDefinition
    Export:
      Name: LatestPriceMonthlyTaskDefArn

  LatestTechnicalsDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsdaily loader
    Value: !Ref LatestTechnicalsDailyTaskDefinition
    Export:
      Name: LatestTechnicalsDailyTaskDefArn

  LatestTechnicalsWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsweekly loader
    Value: !Ref LatestTechnicalsWeeklyTaskDefinition
    Export:
      Name: LatestTechnicalsWeeklyTaskDefArn

  LatestTechnicalsMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latesttechnicalsmonthly loader
    Value: !Ref LatestTechnicalsMonthlyTaskDefinition
    Export:
      Name: LatestTechnicalsMonthlyTaskDefArn
      
  EarningsHistoryTaskDefArn:
    Description: ARN of the ECS TaskDefinition for earnings history loader
    Value: !Ref EarningsHistoryTaskDefinition
    Export:
      Name: EarningsHistoryTaskDefArn
      
  EpsRevisionsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for eps revisions loader
    Value: !Ref EpsRevisionsTaskDefinition
    Export:
      Name: EpsRevisionsTaskDefArn
      
  EpsTrendTaskDefArn:
    Description: ARN of the ECS TaskDefinition for eps trend loader
    Value: !Ref EpsTrendTaskDefinition
    Export:
      Name: EpsTrendTaskDefArn
      
  GrowthEstimatesTaskDefArn:
    Description: ARN of the ECS TaskDefinition for growth estimates loader
    Value: !Ref GrowthEstimatesTaskDefinition
    Export:
      Name: GrowthEstimatesTaskDefArn
      
  QuarterlyIncomeStmtTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly income statement loader
    Value: !Ref QuarterlyIncomeStmtTaskDefinition
    Export:
      Name: QuarterlyIncomeStmtTaskDefArn
      
  IncomeStmtTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual income statement loader
    Value: !Ref IncomeStmtTaskDefinition
    Export:
      Name: IncomeStmtTaskDefArn
      
  QuarterlyBalanceSheetTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly balance sheet loader
    Value: !Ref QuarterlyBalanceSheetTaskDefinition
    Export:
      Name: QuarterlyBalanceSheetTaskDefArn
      
  BalanceSheetTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual balance sheet loader
    Value: !Ref BalanceSheetTaskDefinition
    Export:
      Name: BalanceSheetTaskDefArn
      
  QuarterlyCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for quarterly cash flow loader
    Value: !Ref QuarterlyCashFlowTaskDefinition
    Export:
      Name: QuarterlyCashFlowTaskDefArn
      
  CashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for annual cash flow loader
    Value: !Ref CashFlowTaskDefinition
    Export:
      Name: CashFlowTaskDefArn

  TTMCashFlowTaskDefArn:
    Description: ARN of the ECS TaskDefinition for TTM cash flow loader
    Value: !Ref TTMCashFlowTaskDefinition
    Export:
      Name: TTMCashFlowTaskDefArn
      
  TTMIncomeStmtTaskDefArn:
    Description: ARN of the ECS TaskDefinition for TTM income statement loader
    Value: !Ref TTMIncomeStmtTaskDefinition
    Export:
      Name: TTMIncomeStmtTaskDefArn
      
  RecommendationsTaskDefArn:
    Description: ARN of the ECS TaskDefinition for recommendations loader
    Value: !Ref RecommendationsTaskDefinition
    Export:
      Name: RecommendationsTaskDefArn
      
  StateMachineArn:
    Description: "ARN of the Financial Data Processing State Machine"
    Value: !Ref FinancialDataStateMachine
  
  NotificationTopicArn:
    Description: "ARN of the SNS Topic for error notifications"
    Value: !Ref NotificationTopic

  AaiiSentimentTaskDefArn:
    Description: ARN of the ECS TaskDefinition for AAII sentiment loader
    Value: !Ref AaiiSentimentTaskDefinition
    Export:
      Name: AaiiSentimentTaskDefArn

  FearGreedTaskDefArn:
    Description: ARN of the ECS TaskDefinition for Fear & Greed loader
    Value: !Ref FearGreedTaskDefinition
    Export:
      Name: FearGreedTaskDefArn

  NaaimTaskDefArn:
    Description: ARN of the ECS TaskDefinition for NAAIM exposure loader
    Value: !Ref NaaimTaskDefinition
    Export:
      Name: NaaimTaskDefArn

  LatestBuySellDailyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latest buy/sell daily loader
    Value: !Ref LatestBuySellDailyTaskDefinition
    Export:
      Name: LatestBuySellDailyTaskDefArn

  LatestBuySellWeeklyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latest buy/sell weekly loader
    Value: !Ref LatestBuySellWeeklyTaskDefinition
    Export:
      Name: LatestBuySellWeeklyTaskDefArn

  LatestBuySellMonthlyTaskDefArn:
    Description: ARN of the ECS TaskDefinition for latest buy/sell monthly loader
    Value: !Ref LatestBuySellMonthlyTaskDefinition
    Export:
      Name: LatestBuySellMonthlyTaskDefArn
